@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Pangolin&display=swap');

/* -----Accordion----- */

.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    background: url(../../../images/Dwarves/HistoryBearPeaks/Stone.jpg);
}

.accordionItem {
    border: 1px solid #ccc;
  }
  
.accordionItem:not(:first-of-type) {
    border-top: 0;
  }
  
.accordionItemTitle {
    width: 100%;
    margin: 0;
  }
  
.accordionItemBtn {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: 	rgb(30, 46, 70);
    border: solid 2px 	rgb(247,189,0);
    padding: 15px 20px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
    color: rgb(247,189,0) ;
    font-family: "Pangolin";
    
  }
  
.accordionItemBtn::after {
    content: '';
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-left: auto;
    background-repeat: no-repeat;
    background-size: 18px;
    transition: transform 0.2s ease-in-out;
  }
  
.accordionItem.active .accordionItemBtn::after {
    transform: rotate(-180deg);
  }
  
.accordionItemContainer {
    transition: height 0.2s ease-in-out;
    overflow: hidden;
  }
  
.accordionItemContent {
    border-top: 1px solid #cccccc;
    padding: 15px 20px;
  }

/* -----History----- */

.bodyHistory {
  background: url(../../../images/Dwarves/HistoryBearPeaks/BearPeaks.jpg);
  background-size: 1500px;
}

.titleHistory{
    display: flex;
    font-family: "Rakkas", serif;
    color: red;
    align-items: center;
    margin-left: 50px;
}

.titleHistory h1{
    width: 700px;
    text-align: center;
   
}

.banner{
    width: 300px;
    height: 348px;
    background-size: cover;
    filter: drop-shadow(1px 1px 10px rgb(231, 210, 22) );
    margin-top: 50px;
    margin-bottom: 50px;
}

.pictures{
    display: flex;
}

.kingDwarves{
    border-radius: 30px;
    box-shadow: 0 0 10px 10px black;
    margin: 50px 50px 0px 100px;
    width: 500px;
    height: 500px;
}

.contentScroll{
    background: url(../../../images/Dwarves/HistoryBearPeaks/Scroll.webp) no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    filter: drop-shadow( 0px 0px 20px black);
    font-size: 35%;
    padding-left: 450px;  
    padding-right: 450px;
    height: 1350px;
    color: rgb(56, 7, 7);
}

.contentScroll h2 {
    padding-top: 330px;   
}

.contentScroll p{
    font-family: "Pangolin";
}

.historyPicture{
    border-radius: 30px;
    box-shadow: 0 0 10px 10px black;
    margin: 50px 25px 50px 75px;
    width: 550px;
}

/* -----GuildsPage----- */

.dwarvesTable{
  font-size: 2rem;
  margin: 50px ;
  margin-top: 0;
  background: url(../../../images/Dwarves/Guilds/GreyStone.jpg);  
}

.table tbody{
font-size: 1.5rem;  
background-size: cover;
}
  
.dwarvesTable tr th {
  color: dodgerblue;
}

.dwarvesTable tr td:nth-child(1){
  color: khaki;
}

.dwarvesTable tr td:nth-child(2){
  color: cyan;
}

.dwarvesTable tr td:nth-child(3){
color: coral;
}

.dwarvesTable tr td:nth-child(4) {
  color: greenyellow;
}

.dwarvesTable tr td {
  padding-left:  10px;
  padding-right: 25px;
  padding-bottom: 10px;
}

.anvilBlacksmith{
  background: url(../../../images/Dwarves/Guilds/AnvilBlacksmith.webp);
  background-size:cover;
  border: none;
  filter: drop-shadow(0px 0px 20px rgb(255, 130, 58));
  cursor: pointer;
  height: 400px;
  width: 400px;
}

.anvilBlacksmith:hover{
  opacity: 0.7;
}

.blacksmithModal {
  width: 1000px;
  height: 700px;
  background: url(../../../images/Dwarves/Guilds/GreyStone.jpg);
  background-size: cover;
  padding: 0;
  margin: 10px 50px 10px 320px;
  font-size: 2rem;
}

.blacksmithModal img{
  border-style:solid;
  border-color: rgb(255, 130, 58);
  display: block;
}

.blacksmithModal span {
  font-size: 1.9rem;
  margin: 10px 0 0 0;
  font-family: "Pangolin";
  color: rgb(255, 130, 58);
}

.imageHeadBlacksmith{
  width: 230px;
  height: 230px;
  margin: 10px 50px 0px 10px;
}

.imageMemberBlacksmith{
  width: 180px;
  height: 180px;
  margin: 10px 50px 0px 10px;
}

.buttonCloseBlacksmithModal{
  margin: 10px 10px 10px 300px;
  width: 400px;
  height: 40px;
  font-size: 2rem;
  border-style: solid;
  border-color:black;
  background:rgb(233, 121, 56);
  font-family: "Pangolin";
}

.buttonCloseBlacksmithModal:hover{
  opacity: 0.7;
}

.guilds {
  background-color: darkgreen;
}

.guilds h1 {
 text-align: center;
}

.guilds h2 {
  margin-bottom: 150px;
  margin-top: -10px;
}

.guildsLists {
  display: flex;
  text-align: center;
  color: darkblue;
} 
   
.guildBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.scalesMerchants{
background: url(../../../images/Dwarves/Guilds/ScalesMerchants.webp);
background-size:cover;
border: none;
filter: drop-shadow(0px 0px 20px rgb(245, 231, 44));
cursor: pointer;
height: 400px;
width: 400px;
}

.scalesMerchants:hover {
  opacity: 0.7;
}

.merchantsModal {
  width: 1000px;
  height: 700px;
  background: url(../../../images/Dwarves/Guilds/GreyStone.jpg);
  background-size: cover;
  padding: 0;
  margin: 10px 50px 10px 320px;
  font-size: 2rem;
}

.contentModal{
  display: flex;
}

.merchantsModal img{
  border-style:solid;
  border-color: rgb(245, 231, 44);
  display: block;
}

.merchantsModal span {
  font-size: 1.9rem;
  margin: 10px 0 0 0;
  color:rgb(245, 231, 44) ;
  font-family: "Pangolin";
}

.imageHeadMerchants{
  width: 250px;
  height: 250px;
  margin: 10px 50px 0px 10px;
}

.imageMemberMerchants{
  width: 200px;
  height: 200px;
  margin: 10px 50px 0px 10px;
}

.buttonCloseMerchantsModal{
  margin: 130px 10px 10px 300px;
  width: 400px;
  height: 40px;
  font-size: 2rem;
  border-style: solid;
  border-color:black;
  background: #f5e72c;
  font-family: "Pangolin";
}

.buttonCloseMerchantsModal:hover{
  opacity: 0.7;
}

 /* -----DwarvesPage----- */

.info{
  display: flex;
}

.blockPage{
  display: block;
}

 .imgPage{
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: rgb(30, 46, 70) 5px solid;
  }
    
  .infoPage{
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 10px rgb(30, 46, 70);
  margin: 20px ;
  background: url(../../../images/Dwarves/DwarvesPage/DarkStone.jpg);
  background-size: cover;
  height: 250px;
  width: 800px;
  }
  
  .infoTextPage{
  margin: 20px;
  background: rgb(221, 221, 221);
  background-size: cover;
  height: 200px;
  border:rgb(30, 46, 70) 5px solid;
  border-radius: 12px;
  color: rgb(30, 46, 70);
  width: 500px;
  }
    
  .infoTextPage h4{
  margin: 10px 10px 0px 10px;
  }
   
  .infoTextPage p{
  font-size: 30px;
  margin: 0px 10px 0px 10px ;
  }

  .story{
    margin: 20px;
    width: 500px;
    height: 650px;
    background: url(../../../images/Dwarves/DwarvesPage/DarkStone.jpg);
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 10px rgb(30, 46, 70);
    display: block;
  }
  
  .storyText{
    font-size: 30px;
    background: rgb(221, 221, 221);
    background-size: cover;
    width: 450px;
    height: 600px;
    margin: 20px;
    border:rgb(30, 46, 70) 5px solid;
    border-radius: 12px;
    color: rgb(30, 46, 70);
  }
  
  .storyText p{
    margin: 20px;
  }

  .historyButton{ 
    background: url(../../../images/Dwarves/DwarvesPage/MountainsBearPeaks.jpg);
    background-size: cover;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px 10px  rgb(30, 46, 70);
    font-size: 55px;
    font-family: "Rakkas", serif;
    font-weight: 400;
    width: 800px;
    height: 30px;
    display: block;
    height: 100%;  
    margin: 50px 20px ;
    text-align: center;
    color: red;
  }
  
  .historyButton:hover{
    opacity: 0.7;
  }
  