/* -----DwarvesBattlefield----- */

.dwarvesBattlefield{
    position: fixed;
    width: 100%;
    height: 1000px;
    background: url(../../images/Battlefields/DwarvesBattlefield/Forest.jpg) no-repeat;
    background-size: contain; 
}

.dwarvesBattlefield .dwarfLvl123{
    position: relative;
    left: 22rem;
    top: 70%;
    display: block;
    width: 25rem;
}

.dwarvesBattlefield .orcLvl123{
    position: relative;
    right: 28rem;
    top: 70%;
    display: block;
    width: 25rem;
}

.dwarvesBattlefield .dwarfLvl4{
    position: relative;
    left: 22rem;
    top: 56%;
    display: block;
    width: 25rem;
}

.dwarvesBattlefield .orcLvl4{
    position: relative;
    right: 28rem;
    top: 56%;
    display: block;
    width: 25rem;
}

.buttonDwarfLvl1{
    width: 12rem;
    height: 12rem;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl1.webp) no-repeat; 
    background-size: contain;
    border: none;
    margin-top: 1rem;
}

.buttonDwarfLvl1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
  
}

.buttonDwarfLvl1:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
    
}

.buttonDwarfLvl2{
    width: 12rem;
    height: 12rem;  
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl2.webp) no-repeat; 
    background-size: contain;
    border: none;
    margin-top: 1rem;
}

.buttonDwarfLvl2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl2:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl3{
    width: 12rem;
    height: 12rem;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl3.webp) no-repeat; 
    background-size: contain;
    border: none;
    margin-top: 1rem;
}

.buttonDwarfLvl3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl3:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl4{
    width: 13rem;
    height: 13rem;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl4.webp) no-repeat; 
    background-size: contain;
    border: none;
    margin-top: 1.7rem;
}

.buttonDwarfLvl4:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl4:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvlUnic{
    width: 12.5rem;
    height: 12.5rem;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitCrossbowman.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: 37rem;
    bottom: 3.9%;
}

.buttonDwarfLvlUnic1{
    width: 12.5rem;
    height: 12.5rem;    
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitCrossbowmanOneBolt.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: 37rem;
    bottom: 3.9%;
}

.buttonDwarfLvlUnic1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvlUnic1:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvlUnic2{
    width: 12.5rem;
    height: 12.5rem;     
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitCrossbowmanTwoBolts.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: 37rem;
    bottom: 3.9%;
}

.buttonDwarfLvlUnic2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvlUnic2:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvlUnic3{
    width: 12.5rem;
    height: 12.5rem;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitCrossbowmanThreeBolts.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: 37rem;
    bottom: 3.9%;
}

.buttonDwarfLvlUnic3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvlUnic3:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

@keyframes  backingDwarf {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@keyframes  attackingDwarf {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
        transform: translateX(5px);
    }
}

/* -----ModalLoseAndWinOrcs----- */

.dwarvesLose{
    width: 70rem;
    height: 35rem;
    background: rgb(30, 46, 70);
    border: solid black 2px;
    z-index: 999;
    margin-top: 7%; 
    margin-left: auto;
    margin-right: auto; 
}

.dwarvesLose img{
    width: 15rem;
    height: 15rem;
    margin: 0;
}

.dwarvesLose h2{
    margin: 0;
}

.dwarvesLose h5{
    margin: 0;
}

.dwarvesWin123Lvl{
    display: flex;
    width: 70rem;
    height: 35rem;
    background: rgb(30, 46, 70);
    border: solid black 2px;
    z-index: 999;
    margin-top: 7%; 
    margin-left: auto;
    margin-right: auto; 
    justify-content: space-between;
}

.dwarvesWin123Lvl h2{
    margin: 0;
    margin-top: 60%;
}

.dwarvesWin123Lvl h5{
    margin: 0;
    color: rgb(247,189,0);  
}

.blockModalWinDwarves123Lvl{
    display: block;
    margin-left: 7%;
    margin-right: 7%;
}

.dwarvesVictory{
    display: flex;
    width: 70rem;
    height: 35rem;
    background: rgb(30, 46, 70);
    border: solid black 2px;
    z-index: 999;
    margin-top: 7%; 
    margin-left: auto;
    margin-right: auto; 
    justify-content: space-between;
}

.dwarvesVictory h2{
    margin: 0;
    margin-top: 10%;
}

.dwarvesVictory h5{
    margin: 0;
    color: rgb(247,189,0);  
}

.dwarvesVictory p{
    margin: 6%;
    color: rgb(247,189,0); 
    font-size: 1rem; 
    padding: 0;
}

.blockModalDwarvesVictory{
    display: block;
    margin-left: 3%;
    margin-right: 3%;
}

/* -----MessageDwarvesBattlefields----- */

.textMessageCrossbowman{
    background: url(../../images/Battlefields/Overall/textMessageLeft.webp) no-repeat;
    background-size: contain;
    width: 20%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 13%;
    font-family: "Pangolin";
}

.textMessageCrossbowman span{
    font-size: 40%;
    text-align: center;
    position: relative;
    left: 8%;
}

.textMessageOrcs{
   background: url(../../images/Battlefields/Overall/textMessageRight.webp) no-repeat;
   background-size: contain;
   width: 20%;
   height: 30%;
   position: absolute;
   top: 35%;
   left: 55%;
   font-family: "Pangolin";
}

.textMessageOrcs span{
    font-size: 40%;
    text-align: center;
    position: relative;
    right: 10%;
}

/* -----SkilsDwarves----- */

.flexSkilsDwarves{
    display: flex;
    border: black solid 3px;
    width: 600px;
    height: 150px;
    position: fixed;
    bottom: 5%;
    left: 5%;
    background: rgb(189, 189, 189);
    font-family: "Pangolin";
}

.blockSkilDwarfPoultice{
    display: block;
    margin: 5px;
    position: absolute;
    left: 5%;
}

.blockSkilDwarfPoultice button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/Phial.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilDwarfPoultice p{
    font-size: 30% ;
    margin: 0;
}

.blockSkilAngryDwarf{
    display: block;
    margin: 5px;
    position: absolute;
    left: 30%;
}

.blockSkilAngryDwarf button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/AngryDwarf.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilAngryDwarf p{
    font-size: 30% ;
    margin: 0;
}

.blockSkilFrozenGround{
    display: block;
    margin: 5px;
    position: absolute;
    left: 55%;
}

.blockSkilFrozenGround button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/Boot.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilFrozenGround p{
    font-size: 30% ;
    margin: 0;
}

.blockSkilBearHug{
    display: block;
    margin: 5px;
    position: absolute;
    left: 80%;
}

.blockSkilBearHug button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/BearHug.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilBearHug p{
    font-size: 30% ;
    margin: 0;
}

.blockSkilDwarvesBolts{
    display: block;
    margin: 5px;
    position: absolute;
    left: 5%;
}

.blockSkilDwarvesBolts button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/Bolt.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilDwarvesBolts p{
    font-size: 30% ;
    margin: 0;
}

/* -----OrcsBattlefield----- */

.orcsBattlefield{
    position: fixed;
    width: 100%;
    height: 1000px;
    background: url(../../images/Battlefields/OrcsBattlefield/Snow.jpg) no-repeat;
    background-size: contain;
}

.orcsBattlefield .dwarfLvl123{
    position: relative;
    left: 3rem;
    top: 70%;
    display: block;
    width: 25rem;
}

.orcsBattlefield .orcLvl123{
    position: relative;
    right: 47rem;
    top: 70%;
    display: block;
    width: 25rem;
}

.orcsBattlefield .dwarfLvl4{
    position: relative;
    left: 3rem;
    top: 56%;
    display: block;
    width: 25rem;
}

.orcsBattlefield .orcLvl4{
    position: relative;
    right: 47rem;
    top: 56%;
    display: block;
    width: 25rem;
}

.buttonOrcLvl1{
    width: 13rem;
    height: 13rem;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl1.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl1:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl2{
    width: 13rem;
    height: 13rem;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl2.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl2:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl3{
    width: 13rem;
    height: 13rem;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl3.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl3:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl4{
    width: 15rem;
    height: 15rem;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl4.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl4:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl4:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic{
    width: 15rem;
    height: 15rem;
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrower.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -37rem;
    bottom: 7.7%;
}

.buttonOrcLvlUnic1{
    width: 15rem;
    height: 15rem;  
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrowerOneS.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -37rem;
    bottom: 7.7%;
}

.buttonOrcLvlUnic1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic1:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic2{
    width: 15rem;
    height: 15rem; 
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrowerTwoS.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -37rem;
    bottom: 7.7%;
}

.buttonOrcLvlUnic2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic2:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic3{
    width: 15rem;
    height: 15rem;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrowerThreeS.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -37rem;
    bottom: 7.7%;
}

.buttonOrcLvlUnic3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic3:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}


@keyframes  backingOrc {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes  attackingOrc {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(-5px);
        transform: translateX(-5px);
    }
}

/* -----MessageOrcsBattlefields----- */

.textMessageSpearThrower{
    background: url(../../images/Battlefields/Overall/textMessageRight.webp) no-repeat;
    background-size: contain;
    width: 20%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 67%;
    font-family: "Pangolin";
}

.textMessageSpearThrower span{
    font-size: 40%;
    text-align: center;
    position: relative;
    right: 8%;
}

.textMessageDwarves{
   background: url(../../images/Battlefields/Overall/textMessageLeft.webp) no-repeat;
   background-size: contain;
   width: 20%;
   height: 30%;
   position: absolute;
   top: 35%;
   left: 25%;
   font-family: "Pangolin";
}

.textMessageDwarves span{
    font-size: 40%;
    text-align: center;
    position: relative;
    left: 7%;
}

/* -----ModalLoseAndWinOrcs----- */

.orcsLose{
    width: 70rem;
    height: 35rem;
    background: rgb(4, 27, 1);
    border: solid black 2px;
    z-index: 999;
    margin-top: 7%; 
    margin-left: auto;
    margin-right: auto; 
    
}

.orcsLose img{
    width: 15rem;
    height: 15rem;
    margin: 0;
}

.orcsLose h2{
    margin: 0;
}

.orcsLose h5{
    margin: 0;
}

.orcsWin123Lvl{
    display: flex;
    width: 70rem;
    height: 35rem;
    background: rgb(4, 27, 1);
    border: solid black 2px;
    z-index: 999;
    margin-top: 7%; 
    margin-left: auto;
    margin-right: auto; 
    justify-content: space-between;
}

.orcsWin123Lvl h2{
    margin: 0;
    margin-top: 60%;
}

.orcsWin123Lvl h5{
    margin: 0;
    color: rgb(168, 165, 155);  
}

.blockModalWinOrcs123Lvl{
    display: block;
    margin-left: 7%;
    margin-right: 7%;
}

.orcsVictory{
    display: flex;
    width: 70rem;
    height: 35rem;
    background: rgb(4, 27, 1);
    border: solid black 2px;
    z-index: 999;
    margin-top: 7%; 
    margin-left: auto;
    margin-right: auto; 
    justify-content: space-between;
}

.orcsVictory h2{
    margin: 0;
    margin-top: 10%;
}

.orcsVictory h5{
    margin: 0;
    color: rgb(168, 165, 155);  
}

.orcsVictory p{
    margin: 6%;
    color: rgb(168, 165, 155); 
    font-size: 1rem; 
    padding: 0;
    font-family: "Pangolin";
}

.blockModalOrcsVictory{
    display: block;
    margin-left: 3%;
    margin-right: 3%;
}

/* -----ModalRules----- */

.buttonModalRules{
    width: 8%;
    height: 11%;
    background: url(../../images/Battlefields/Overall/RulesBook.webp);
    background-size: cover;
    border: none;
    transform: scaleX(-1);
    position: absolute;
    left: 1%;
    top: 10%;
}

.buttonModalRules:hover{
    filter: drop-shadow(1px 1px 12px red); 
}

.modalRules{
  width: 1200px;
  margin: auto;
  margin-top: 5%;
  font-family: "Pangolin";
}

.modalRule{
    display: flex;
}

.rulesOrcs{
    display: block;
    background: rgb(4, 27, 1);
    border-left: solid black 1px;
    border-bottom: solid black 2px ;
}

.rulesDwarves{
    display: block;
    background: rgb(30, 46, 70);
    border-right: solid black 1px;
    border-bottom: solid black 2px ;
}

.ruleOrcs{
    display: flex;
}

.ruleDwarves{
    display: flex;
}

.ruleOrcs p{
    font-size: 1rem;
    margin: 1rem;
    color: rgb(168, 165, 155);
    width: 50%;
    text-align: start;
}

.ruleDwarves p{
    font-size: 1rem;
    margin: 1rem;
    color: rgb(247,189,0);
    width: 50%;
    text-align: start;
}

.imgRules{
    width: 5rem;
    margin: 1rem;
    border: solid grey 2px;
}

.buttonCloseModalRules{
    width: 100%;
    height: 5rem;
    font-size: 3rem;
    border: solid black 1px;
    background:#a12435;
    font-family: "Pangolin";
}

.buttonCloseModalRules:hover{
    opacity: 0.9;
}
        
/* -----SkilsOrcs----- */

.flexSkilsOrcs{
    display: flex;
    border: black solid 3px;
    width: 600px;
    height: 150px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: rgb(189, 189, 189);
    font-family: "Pangolin";
}

.blockSkilOrcPoultice{
    display: block;
    margin: 5px;
    position: absolute;
    left: 5%;
}

.blockSkilOrcPoultice button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/MedicinalMushroom.jpg) no-repeat;
    background-size: contain;
    margin: 0;
}

.blockSkilOrcPoultice p{
    font-size: 30% ;
    position: absolute;
    margin: 0;
    text-align: center;
}

.blockSkilContagiousBite{
    display: block;
    margin: 5px;
    position: absolute;
    left: 30%;
}

.blockSkilContagiousBite button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/OrcBite.jpg) no-repeat;
    background-size: contain;
    margin: 0;
}

.blockSkilContagiousBite p{
    font-size: 30%;
    margin: 0;
}

.blockSkilFetters{
    display: block;
    margin: 5px;
    position: absolute;
    left: 55%;
}

.blockSkilFetters button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/Fetters.jpg) no-repeat;
    background-size: contain;
    margin: 0;
}

.blockSkilFetters p{
    font-size: 30%;
    margin: 0;
}

.blockSkilOrcFerocity{
    display: block;
    margin: 5px;
    position: absolute;
    left: 80%;
}

.blockSkilOrcFerocity button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/OrcFerocity.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilOrcFerocity p{
    font-size: 30% ;
    margin: 0;
}

.blockSkilOrcsSpear{
    display: block;
    margin: 5px;
    position: absolute;
    left: 5%;
}

.blockSkilOrcsSpear button{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/Log.jpg) no-repeat;
    background-size: contain; 
    margin: 0;
}

.blockSkilOrcsSpear p{
    font-size: 30% ;
    margin: 0;
}

  /* -----OverallBattlefield----- */

  .damageMultiplier{
    width: 8%;
    height: 11%;
    border: black solid 3px;
    background: rgb(189, 189, 189);
    position: absolute;
    top: 10%;
    right: 1%;
}

.titleSkilsMultiplier{
    font-size: 40% ;
    position: absolute;
    left: 0%;
    bottom: 0%;
    font-family: "Pangolin";
}

.unitsFlex {
    display: flex;
    justify-content: space-between;
}

.unitsBlock {
    width: 0px;
    display: block;
}
 
 progress {
    appearance: none;
    -webkit-appearance: none;
    width: 300px;
    transform: skewX(30deg) ;
}
  
.healthIndicatorOrc::-webkit-progress-inner-element {
    border: 2px solid rgb(0, 0, 0);
}
  
.healthIndicatorOrc::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthIndicatorOrc::-webkit-progress-value {
    background-color: rgb(4, 27, 1);
    
}

.healthIndicatorDwarf::-webkit-progress-inner-element {
    border: 2px solid rgb(0, 0, 0);
}
  
.healthIndicatorDwarf::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
}
  
.healthIndicatorDwarf::-webkit-progress-value {
    background-color: rgb(30, 46, 70); 
}

.buttonsBattlefields{
    text-align: center;
    font-family: "Rakkas";
    display: flex;
    font-size: 4rem;
    justify-content: space-between; 
    position: relative;
    z-index: 9999;
}


