/* -----DwarvesBattlefield----- */

.dwarvesBattlefield{
    position: fixed;
    width: 100%;
    height: 1000px;
    background: url(../../images/Battlefields/DwarvesBattlefield/Forest.jpg) no-repeat;
    background-size: contain; 
}

.dwarvesBattlefield .dwarfLvl123{
    position: relative;
    left: 500px;
    top: 50%;
}

.dwarvesBattlefield .orcLvl123{
    position: relative;
    right: 200px;
    top: 50%;
}

.dwarvesBattlefield .orcLvl4{
    position: relative;
    right: 400px;
    top: 50%;
}

.buttonDwarfLvl1{
    width: 200px;
    height: 200px;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl1.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonDwarfLvl1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl1:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl2{
    width: 200px;
    height: 200px;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl2.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonDwarfLvl2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl2:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl3{
    width: 200px;
    height: 200px;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl3.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonDwarfLvl3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl3:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl4{
    width: 250px;
    height: 250px;   
    background: url(../../images/Battlefields/DwarvesUnits/DwarfUnitLvl4.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonDwarfLvl4:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingDwarf 0.7s;
    animation-fill-mode: forwards; 
}

.buttonDwarfLvl4:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingDwarf 0.3s;
    animation-fill-mode: forwards; 
}

.buttonDwarvesBattlefield{
    background: rgb(30, 46, 70);
    border: solid  rgb(247,189,0) 2px;
    text-align: center;
    font-family: "Rakkas";
    display: flex;
    justify-content: space-between; 
    position: relative;
    z-index: 9999;
  }

@keyframes  backingDwarf {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@keyframes  attackingDwarf {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(5px);
        transform: translateX(5px);
    }
}

/* -----SkilsDwarves----- */

.angryDwarf{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/AngryDwarf.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 5%;
}

.titleSkilsAngryDwarf{
    font-size: 30% ;
    position: absolute;
    left: 7%;
    bottom: 0%;
}

.frozenGround{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/Boot.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 30%;
}

.titleSkilsFrozenGround{
    font-size: 30% ;
    position: absolute;
    left: 30%;
    bottom: 0%;
}

.bearHug{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/BearHug.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 55%;
}

.titleSkilsBearHug{
    font-size: 30% ;
    position: absolute;
    left: 53%;
    bottom: 0%;
}

.dwarvesBolts{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/DwarfSkils/Bolt.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 80%;
}

.titleSkilsDwarvesBolts{
    font-size: 30% ;
    position: absolute;
    left: 78%;
    bottom: 0%;
}

.flexSkilsDwarves{
    display: flex;
    border: black solid 3px;
    width: 600px;
    height: 150px;
    position: fixed;
    bottom: 5%;
    left: 5%;
    background: rgb(189, 189, 189) ;
}

/* -----OrcsBattlefield----- */

.orcsBattlefield{
    position: fixed;
    width: 100%;
    height: 1000px;
    background: url(../../images/Battlefields/OrcsBattlefield/Snow.jpg) no-repeat;
    background-size: contain;
}

.orcsBattlefield .dwarfLvl123{
    position: relative;
    left: 100px;
    top: 50%;
}

.orcsBattlefield .orcLvl123{
    position: relative;
    right: 700px;
    top: 50%;
}

.orcsBattlefield .dwarfLvl4{
    position: relative;
    left: 200px;
    top: 50%;
}

.orcsBattlefield .orcLvl4{
    position: relative;
    right: 400px;
    top: 50%;
}

.buttonOrcLvl1{
    width: 200px;
    height: 200px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl1.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl2{
    width: 200px;
    height: 200px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl2.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl3{
    width: 200px;
    height: 200px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl3.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvl4{
    width: 250px;
    height: 250px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitLvl4.webp) no-repeat; 
    background-size: contain;
    border: none;
}

.buttonOrcLvl4:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic{
    width: 250px;
    height: 250px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrower.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -600px;
    bottom: 100px;
}

.buttonOrcLvlUnic1{
    width: 250px;
    height: 250px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrowerOneS.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -600px;
    bottom: 100px;
}

.buttonOrcLvlUnic1:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic1:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic2{
    width: 250px;
    height: 250px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrowerTwoS.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -600px;
    bottom: 100px;
}

.buttonOrcLvlUnic2:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic2:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic3{
    width: 250px;
    height: 250px;   
    background: url(../../images/Battlefields/OrcsUnits/OrcUnitSpearThrowerTreeS.webp) no-repeat; 
    background-size: contain;
    border: none;
    position: relative;
    right: -600px;
    bottom: 100px;
}

.buttonOrcLvlUnic3:hover{
    filter: drop-shadow(1px 1px 12px red); 
    animation: backingOrc 0.7s;
    animation-fill-mode: forwards; 
}

.buttonOrcLvlUnic3:active{
    filter: drop-shadow(1px 1px 12px red); 
    animation: attackingOrc 0.3s;
    animation-fill-mode: forwards; 
}

.buttonOrcsBattlefield{
    background: rgb(4, 27, 1);
    border: solid rgb(168, 165, 155) 2px;
    text-align: center;
    font-family: "Rakkas";
    display: flex;
    justify-content: space-between; 
    position: relative;
    z-index: 9999;
}

@keyframes  backingOrc {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
        transform: translateX(10px);
    }
}

@keyframes  attackingOrc {
    0%,  100% {
        transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        transform: translateX(-5px);
        transform: translateX(-5px);
    }
}


/* -----ModalRulesOrc----- */

.buttonModalRules{
    width: 8%;
    height: 11%;
    background: url(../../images/Battlefields/Overall/RulesBook.webp);
    background-size: cover;
    border: none;
    transform: scaleX(-1);
    position: absolute;
    left: 1%;
    top: 10%;
}

.buttonModalRules:hover{
    filter: drop-shadow(1px 1px 12px red); 
}

.modalRules{
  width: 1200px;
  margin: auto;
  margin-top: 5%;
  
}

.modalRule{
    display: flex;
}

.rulesOrcs{
    display: block;
    background: rgb(4, 27, 1);
    border-left: solid black 1px;
    border-bottom: solid black 2px ;
}

.rulesDwarves{
    display: block;
    background: rgb(30, 46, 70);
    border-right: solid black 1px;
    border-bottom: solid black 2px ;
}

.ruleOrcs{
    display: flex;
}

.ruleDwarves{
    display: flex;
}

.ruleOrcs p{
    font-size: 1rem;
    margin: 1rem;
    color: rgb(168, 165, 155);
    width: 50%;
    text-align: start;
}

.ruleDwarves p{
    font-size: 1rem;
    margin: 1rem;
    color: rgb(247,189,0);
    width: 50%;
    text-align: start;
}

.imgRules{
    width: 5rem;
    margin: 1rem;
    border: solid grey 2px;
}

.buttonCloseModalRules{
    width: 100%;
    height: 5rem;
    font-size: 3rem;
    border: solid black 1px;
    background:#a12435;
    font-family: "Pangolin";
}

.buttonCloseModalRules:hover{
    opacity: 0.9;
}
        
/* -----SkilsOrcs----- */

.flexSkilsOrcs{
    display: flex;
    border: black solid 3px;
    width: 600px;
    height: 150px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background: rgb(189, 189, 189) ;
}

.blockSkils{
    display: block;
    margin: 5px;
}

.orcPoultice{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/MedicinalMushroom.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 5%;
}

.titleSkilsPoultice{
    font-size: 30% ;
    position: absolute;
    left: 5%;
    bottom: 0%;
}

.contagiousBite{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/OrcBite.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 30%;
}

.titleSkilsContagiousBite{
    font-size: 30% ;
    position: absolute;
    left: 31%;
    bottom: 0%;
}

.fetters{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/Fetters.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 55%;
}

.titleSkilsFetters{
    font-size: 30% ;
    position: absolute;
    left: 55%;
    bottom: 0%;
}

.orcFerocity{
    width: 100px;
    height: 100px;
    background: url(../../images/Battlefields/OrcSkils/OrcFerocity.jpg) no-repeat;
    background-size: contain; 
    position: absolute;
    left: 80%;
}

.titleSkilsFerocity{
    font-size: 30% ;
    position: absolute;
    left: 79%;
    bottom: 0%;
}

  /* -----OverallBattlefield----- */

  .damageMultiplier{
    width: 8%;
    height: 11%;
    border: black solid 3px;
    background: rgb(189, 189, 189);
    position: absolute;
    top: 10%;
    right: 1%;
}

.titleSkilsMultiplier{
    font-size: 40% ;
    position: absolute;
    left: 0%;
    bottom: 0%;
}

.textMessageSpearThrower{
    background: url(../../images/Battlefields/Overall/textMessageRight.webp) no-repeat;
    background-size: contain;
    width: 20%;
    height: 30%;
    position: absolute;
    top: 35%;
    left: 67%;
}

.textMessageSpearThrower span{
    font-size: 40%;
    text-align: center;
    position: relative;
    right: 8%;
}

.textMessage{
   background: url(../../images/Battlefields/Overall/textMessageLeft.webp) no-repeat;
   background-size: contain;
   width: 20%;
   height: 30%;
   position: absolute;
   top: 35%;
   left: 25%;
}

.textMessage span{
    font-size: 40%;
    text-align: center;
    position: relative;
    left: 7%;
}

.unitsFlex {
    display: flex;
    justify-content: space-between;
}

.unitsBlock {
    width: 0px;
    display: block;
}
 
 progress {
    appearance: none;
    -webkit-appearance: none;
    width: 300px;
    transform: skewX(30deg) ;
}
  
.healthIndicatorOrc::-webkit-progress-inner-element {
    border: 2px solid rgb(0, 0, 0);
}
  
.healthIndicatorOrc::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
    
}
  
.healthIndicatorOrc::-webkit-progress-value {
    background-color: rgb(4, 27, 1);
    
}

.healthIndicatorDwarf::-webkit-progress-inner-element {
    border: 2px solid rgb(0, 0, 0);
}
  
.healthIndicatorDwarf::-webkit-progress-bar {
    background-color: rgb(189, 189, 189);
}
  
.healthIndicatorDwarf::-webkit-progress-value {
    background-color: rgb(30, 46, 70); 
}



