@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Pangolin&family=Rakkas&display=swap');
/* -----HomePage----- */

body {
color: #a80016;
font-size: 3vw;
font-family: "El Messiri";  
font-style: normal;
text-align: center;
background: grey;
background-size: cover;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
position: absolute;
}

a{
text-decoration: none;
}

a:active{
color: rgb(32, 32, 32);
}

.choice{
position:fixed;
width: 100%;
height: 100%;
background: url(../../images/HomePageImage/Panorama.jpg) no-repeat top;
background-size: cover;
user-select: none;
}

.choiceTitle{
position: absolute;
width: 100%;
height: 40%;
clip-path: polygon(100% 0, 100% 30%, 50% 100%, 0 30%, 0 0);
background: black;
}

.choiceTitle h3{
position: absolute;
top: -20%;
left: 50%;
transform: translateX(-50%);
text-align: center;
color: #a12435;
-webkit-text-stroke: 0.1vw  rgb(189, 189, 189) ;
font-size: 4vw;
font-family: "El Messiri";
}

.choiceTitle p {
position: absolute;
top: 30%;
left: 50%;
transform: translateX(-50%);
text-align: center;
width: 50%;
height: 20%;
font-size: 1.5vw;
font-family: "Pangolin";
margin-bottom: 0;
margin-top: 0;
padding: 0;
color: rgb(189, 189, 189);
}

.triangles{
width: 100%;
height: 60%;
position: absolute;
bottom: 0;
}

.blueTriangle{
width: 50%;
height: 80%;
background: url(../../images/HomePageImage/BlueTriangle.webp) no-repeat left bottom;
background-size: contain;
position: absolute;
bottom: -1%;
}

.greenTriangle{
width: 50%;
height: 80%;
background: url(../../images/HomePageImage/GreenTriangle.webp) no-repeat right bottom;
background-size: contain;
position: absolute;
bottom: -1%;
right: 0;
}

.dwarvesButton{
background: url(../../images/HomePageImage/Dwarves.webp) no-repeat left bottom;
background-size: contain;
width: 60%;
height: 200%;
border: none;
filter: drop-shadow(0 0 1vw rgb(30, 46, 70));
position: absolute;
left: -20%;
bottom: -50%;
}

.dwarvesButton:hover{
animation: shift 1s ;
animation-fill-mode: forwards; 
filter: drop-shadow(0 0 1.7vw rgb(30, 46, 70));
}

.orcsButton{
background: url(../../images/HomePageImage/Orcs.webp) no-repeat right bottom;
background-size: contain;
width: 60%;
height: 200%;
border: none;
filter: drop-shadow(0 0 1vw rgb(4, 27, 1));
position: absolute;
right: -20%;
bottom: -50%;
}

.orcsButton:hover{
animation: shift1 1s ;
animation-fill-mode: forwards; 
filter: drop-shadow(0 0 1.7vw rgb(4, 27, 1));
}

@keyframes  shift {
	0%, 100% {
		transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		transform: translateX(30%);
		transform: translateX(30%);
	}
}

@keyframes  shift1 {
	0%, 100% {
		transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		transform: translateX(-30%);
		transform: translateX(-30%);
	}
}

/* -----OverallButtons----- */

.homeButton{
background: url(../../images/Other/Tower.webp);
background-size: cover;
position: absolute;
top: 0;
left: 0;
width: 4vw;
height: 4vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
float: left;
margin: 0.5vw 0 0 1vw;
}
	
.homeButton:hover{
opacity: 0.8;
filter: drop-shadow(0 0 1.3vw rgb(201, 201, 201));
}
	
.backButton{
background: url(../../images/Other/Arrow.webp);
background-size: cover;
position: absolute;
top: 0;
right: 0;
width: 4vw;
height: 4vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
float: right;
margin: 0.5vw 1vw 0 0;
}
	
.backButton:hover{
opacity: 0.8;
filter: drop-shadow(0 0 1.3vw rgb(201, 201, 201));
}
	
.restartButton{
background: url(../../images/Other/Hourglass.webp);
background-size: cover;
position: absolute;
top: 0;
right: 0;
width: 4vw;
height: 4vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
float: right;
margin: 0.5vw 1vw 0 0;
}
	
.restartButton:hover{
opacity: 0.8;
filter: drop-shadow(0 0 1.3vw rgb(201, 201, 201));
}
	
.restartLevelButton{
width: 9vw;
height: 9vw;
margin: 0;
background: url(../../images/Other/Hourglass.webp) no-repeat;
background-size: cover;
border: none;
}
	
.restartLevelButton:hover{
filter: drop-shadow(0.1vw 0.1vw 1.3vw #a12435); 
opacity: 0.8;
}
	
.nextLevelButton{
background: url(../../images/Other/Arrow.webp) no-repeat;
background-size: cover;
transform: scaleX(-1);
width: 9vw;
height: 9vw;
margin: 0;
border: none;
}
	
.nextLevelButton:hover{
filter: drop-shadow(0.1vw 0.1vw 1.2vw #a12435); 
opacity: 0.8;
}
	
.homeButtonVictory{
background: url(../../images/Other/Tower.webp) no-repeat;
background-size: cover;
width: 9vw;
height: 9vw;
margin: 0;
border: none;
}
	
.homeButtonVictory:hover{
filter: drop-shadow(0.1vw 0.1vw 1.2vw #a12435); 
opacity: 0.8;
}

.noPage{
width: 100%;
height: 100%;
background: rgb(189, 189, 189);
}

/* HomePageMedia */

@media (min-width: 769px) and (max-width: 1024px) {

.choice{
background: url(../../images/HomePageImage/PanoramaSmall.jpg) no-repeat bottom;
background-size: cover;
}
		
.choiceTitle{
position: absolute;
width: 100%;
height: 70%;
clip-path: polygon(100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
background: black;
}	
		
.choiceTitle h3{
width: 100%;
position: absolute;
top: -13%;
left: 50%;
transform: translateX(-50%);
text-align: center;
color: #a12435;
-webkit-text-stroke: 0.2vw  rgb(189, 189, 189) ;
font-size: 13vw;
font-family: "El Messiri";
}
			
.choiceTitle p {
position: absolute;
top: 25%;
left: 50%;
transform: translateX(-50%);
text-align: center;
width: 70%;
height: 20%;
font-size: 3.2vw;
font-family: "Pangolin";
margin-bottom: 0;
margin-top: 0;
padding: 0;
color: rgb(189, 189, 189);
}
		
.blueTriangle{
width: 45%;
height: 80%;
background: url(../../images/HomePageImage/BlueTriangle.webp) no-repeat left bottom;
background-size: contain;
position: absolute;
bottom: -1%;
}
			
.greenTriangle{
width: 45%;
height: 80%;
background: url(../../images/HomePageImage/GreenTriangle.webp) no-repeat right bottom;
background-size: contain;
position: absolute;
bottom: -1%;
right: 0;
}
		
.orcsButton{
background: url(../../images/HomePageImage/Orcs.webp) no-repeat right bottom;
background-size: contain;
border: none;
filter: drop-shadow(0 0 1vw rgb(4, 27, 1));
position: absolute;
right: -20%;
bottom: -10%;
}
			
.dwarvesButton{
background: url(../../images/HomePageImage/Dwarves.webp) no-repeat left bottom;
background-size: contain;
border: none;
filter: drop-shadow(0 0 1vw rgb(30, 46, 70));
position: absolute;
left: -20%;
bottom: -10%;
}
	
/* Button */
	
.button .homeButton{
background: url(../../images/Other/Tower.webp);
background-size: cover;
position: absolute;
top: 0;
left: 0;
width: 8vw;
height: 8vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
margin: 1vw;
}
		
.button .backButton{
background: url(../../images/Other/Arrow.webp);
background-size: cover;
position: absolute;
top: 0;
right: 0;
width: 8vw;
height: 8vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
margin: 1vw;
}
		
.button .restartButton{
background: url(../../images/Other/Hourglass.webp);
background-size: cover;
position: absolute;
top: 0;
right: 0;
width: 8vw;
height: 8vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
margin: 1vw;
}
		
.button .restartLevelButton{
width: 25vw;
height: 25vw;
margin: 0;
background: url(../../images/Other/Hourglass.webp) no-repeat;
background-size: cover;
border: none;
}
			
.button .nextLevelButton{
background: url(../../images/Other/Arrow.webp) no-repeat;
background-size: cover;
transform: scaleX(-1);
width: 25vw;
height: 25vw;
margin: 0;
border: none;
}
		
.button .homeButtonVictory{
background: url(../../images/Other/Tower.webp) no-repeat;
background-size: cover;
width: 25vw;
height: 25vw;
margin: 0;
border: none;
}
}

@media (min-width: 481px) and (max-width: 768px) {

.choice{
background: url(../../images/HomePageImage/PanoramaSmall.jpg) no-repeat bottom;
background-size: cover;
}

.choiceTitle{
position: absolute;
width: 100%;
height: 70%;
clip-path: polygon(100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
background: black;
}	
	
.choiceTitle h3{
width: 100%;
position: absolute;
top: -17%;
left: 50%;
transform: translateX(-50%);
text-align: center;
color: #a12435;
-webkit-text-stroke: 0.2vw  rgb(189, 189, 189) ;
font-size: 15vw;
font-family: "Rakkas";
}
		
.choiceTitle p {
position: absolute;
top: 25%;
left: 50%;
transform: translateX(-50%);
text-align: center;
width: 70%;
height: 20%;
font-size: 3.7vw;
font-family: "Pangolin";
margin-bottom: 0;
margin-top: 0;
padding: 0;
color: rgb(189, 189, 189);
}
	
.blueTriangle{
width: 45%;
height: 80%;
background: url(../../images/HomePageImage/BlueTriangle.webp) no-repeat left bottom;
background-size: contain;
position: absolute;
bottom: -1%;
}
		
.greenTriangle{
width: 45%;
height: 80%;
background: url(../../images/HomePageImage/GreenTriangle.webp) no-repeat right bottom;
background-size: contain;
position: absolute;
bottom: -1%;
right: 0;
}
	
.orcsButton{
background: url(../../images/HomePageImage/Orcs.webp) no-repeat right bottom;
background-size: contain;
border: none;
filter: drop-shadow(0 0 1vw rgb(4, 27, 1));
position: absolute;
right: -20%;
bottom: -10%;
}
		
.dwarvesButton{
background: url(../../images/HomePageImage/Dwarves.webp) no-repeat left bottom;
background-size: contain;
border: none;
filter: drop-shadow(0 0 1vw rgb(30, 46, 70));
position: absolute;
left: -20%;
bottom: -10%;
}

/* Button */
	
.button .homeButton{
	background: url(../../images/Other/Tower.webp);
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 8vw;
	height: 8vw;
	border: none;
	filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
	margin: 1vw;
	}
			
	.button .backButton{
	background: url(../../images/Other/Arrow.webp);
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	width: 8vw;
	height: 8vw;
	border: none;
	filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
	margin: 1vw;
	}
			
	.button .restartButton{
	background: url(../../images/Other/Hourglass.webp);
	background-size: cover;
	position: absolute;
	top: 0;
	right: 0;
	width: 8vw;
	height: 8vw;
	border: none;
	filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
	margin: 1vw;
	}
			
	.button .restartLevelButton{
	width: 25vw;
	height: 25vw;
	margin: 0;
	background: url(../../images/Other/Hourglass.webp) no-repeat;
	background-size: cover;
	border: none;
	}
				
	.button .nextLevelButton{
	background: url(../../images/Other/Arrow.webp) no-repeat;
	background-size: cover;
	transform: scaleX(-1);
	width: 25vw;
	height: 25vw;
	margin: 0;
	border: none;
	}
			
	.button .homeButtonVictory{
	background: url(../../images/Other/Tower.webp) no-repeat;
	background-size: cover;
	width: 25vw;
	height: 25vw;
	margin: 0;
	border: none;
	}
}

@media (max-width: 480px) {

.choice{
background: url(../../images/HomePageImage/PanoramaSmall.jpg) no-repeat bottom;
background-size: cover;
}

.choiceTitle{
position: absolute;
width: 100%;
height: 70%;
clip-path: polygon(100% 0, 100% 40%, 50% 100%, 0 40%, 0 0);
background: black;
}	

.choiceTitle h3{
width: 100%;
position: absolute;
top: -10%;
left: 50%;
transform: translateX(-50%);
text-align: center;
color: #a12435;
-webkit-text-stroke: 0.2vw  rgb(189, 189, 189) ;
font-size: 15vw;
font-family: "El Messiri";
}
	
.choiceTitle p {
position: absolute;
top: 20%;
left: 50%;
transform: translateX(-50%);
text-align: center;
width: 70%;
height: 20%;
font-size: 3.8vw;
font-family: "Pangolin";
margin-bottom: 0;
margin-top: 0;
padding: 0;
color: rgb(189, 189, 189);
}

.blueTriangle{
width: 45%;
height: 80%;
background: url(../../images/HomePageImage/BlueTriangle.webp) no-repeat left bottom;
background-size: contain;
position: absolute;
bottom: -1%;
}
	
.greenTriangle{
width: 45%;
height: 80%;
background: url(../../images/HomePageImage/GreenTriangle.webp) no-repeat right bottom;
background-size: contain;
position: absolute;
bottom: -1%;
right: 0;
}

.orcsButton{
background: url(../../images/HomePageImage/Orcs.webp) no-repeat right bottom;
background-size: contain;
border: none;
filter: drop-shadow(0 0 1vw rgb(4, 27, 1));
position: absolute;
right: -20%;
bottom: -10%;
}
	
.dwarvesButton{
background: url(../../images/HomePageImage/Dwarves.webp) no-repeat left bottom;
background-size: contain;
border: none;
filter: drop-shadow(0 0 1vw rgb(30, 46, 70));
position: absolute;
left: -20%;
bottom: -10%;
}

/* Button */
	
.button .homeButton{
background: url(../../images/Other/Tower.webp);
background-size: cover;
position: absolute;
top: 0;
left: 0;
width: 11vw;
height: 11vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
margin: 1vw;
}
		
.button .backButton{
background: url(../../images/Other/Arrow.webp);
background-size: cover;
position: absolute;
top: 0;
right: 0;
width: 11vw;
height: 11vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
margin: 1vw;
}
		
.button .restartButton{
background: url(../../images/Other/Hourglass.webp);
background-size: cover;
position: absolute;
top: 0;
right: 0;
width: 11vw;
height: 11vw;
border: none;
filter: drop-shadow(0 0 1vw rgb(201, 201, 201));
margin: 1vw;
}
		
.button .restartLevelButton{
width: 25vw;
height: 25vw;
margin: 0;
background: url(../../images/Other/Hourglass.webp) no-repeat;
background-size: cover;
border: none;
}
			
.button .nextLevelButton{
background: url(../../images/Other/Arrow.webp) no-repeat;
background-size: cover;
transform: scaleX(-1);
width: 25vw;
height: 25vw;
margin: 0;
border: none;
}
		
.button .homeButtonVictory{
background: url(../../images/Other/Tower.webp) no-repeat;
background-size: cover;
width: 25vw;
height: 25vw;
margin: 0;
border: none;
}
}
