@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Pangolin&display=swap');

/* -----Accordion----- */

.historyOrcs{
position: absolute;
width: 100%;
height: 100%;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 15%; 
}

.accordion {
position: relative;
width: 100%;
list-style: none;
margin: 0;
padding: 0;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 15%;
background-color: grey;
border-top: 0.3vw solid rgb(180, 60, 20);
}

.accordionItemTitle {
width: 100%;
margin: 0;
}

.accordionItemBtn {
position: relative;
align-items: center;
width: 100%;
height: 5.5vw;
background:	rgb(4, 27, 1);
border-top: solid 0.3vw rgb(180, 60, 20);
border-bottom: solid 0.3vw rgb(180, 60, 20);
padding: 1vw 2vw;
font-size: 2vw;
cursor: pointer;
user-select: none;
color: rgb(180, 60, 20);
font-family: "Pangolin";
}

.accordionItemContainer {
transition: height 0.5s ease-in-out;
overflow: hidden;
position: relative;
}

/* -----History----- */

.imageHistory {
background: url(../../../images/Orcs/HistoryBlackForest/BlackForest.jpg) no-repeat;
background-size: 100%;
}

.titleHistory{
display: flex;
font-family: "Rakkas", serif;
color: rgb(4, 27, 1);
align-items: center;
justify-content: center;
-webkit-text-stroke: rgb(180, 60, 20) 0.1vw;
font-size: 4vw;
width: 100%;
height: 50%;
}

.titleHistory h1{
width: 50%;
text-align: center;
}

.banner{
width: 20%;
height: 30%;
filter: drop-shadow(0 0 1vw rgb(15, 63, 8) );
margin-top: 7%;
}

.accordionItemContent{
position: absolute;
height: 80vw;
width: 100vw;
}

.pictures{
display: flex;
justify-content: space-between;
}

.awaking{
width: 35vw;
height: 35vw;
position: absolute;
top: -3%;
left: -3;
}

.exodus{
width: 35vw;
height: 35vw;
position: absolute;
top: -3%;
right: -3%;
}

.contentScroll{
width: 100%;
height: 100%;
position: absolute;
top: 45%;
left: 50%;
transform: translateX(-50%);
background: url(../../../images/Orcs/HistoryBlackForest/Scroll.webp) center no-repeat;
background-size: contain;
filter: drop-shadow(0 0 0.5vw black);
font-family: "Pangolin";
font-size: 1.4vw;
color: black;
}

.contentScroll h2 {
position: absolute;
left: 50%;
top: 20%;
transform: translateX(-50%);
color: rgb(4, 27, 1);
}

.contentScroll p{
position: absolute;
left: 50%;
top: 25%;
width: 30%;
transform: translateX(-50%);
}

.pictureLeft{
width: 45%;
margin: 0;
padding: 0;
position: absolute;
left: -1%;
top: -1%;
}

.pictureRight{
width: 45%;
margin: 0;
padding: 0;
position: absolute;
right: -1%;
top: -1%;
}

/* -----CommunitiesPage----- */

/* SpiritCatchersModal */

.iconsGuardiansOfSpiritsModalCommunity{
background: url(../../../images/Orcs/OrcCommunities/SpriritCatchers.webp) no-repeat;
background-size: contain;
border: none;
filter: drop-shadow(0 0 0.5vw rgb(50, 88, 255));
cursor: pointer;
height: 30%;
width: 30%;
position: absolute;
top: 12%;
left: 9%;
}

.iconsGuardiansOfSpiritsModalCommunity:hover{
opacity: 0.9;
filter: drop-shadow(0 0 1.5vw rgb(50, 88, 255));
animation: shifting 0.7s infinite;
animation-fill-mode: forwards; 
}

.guardiansOfSpiritsModal {
width: 70%;
height: 96%;
background: rgb(4, 27, 1);
font-family: "Pangolin";
position: absolute;
left: 20%;
top:2%;
}

/* WorkersModal */

.iconsWorkersModalCommunity{
background: url(../../../images/Orcs/OrcCommunities/Workers.webp) no-repeat;
background-size: contain;
border: none;
filter: drop-shadow(0 0 0.5vw rgb(255, 193, 21));
cursor: pointer;
height: 30%;
width: 30%;
position: absolute;
bottom: 2%;
left: 9%;
}
  
.iconsWorkersModalCommunity:hover{
filter: drop-shadow(0 0 1.5vw  rgb(255, 193, 21));
opacity: 0.9;
animation: shifting 0.7s infinite;
animation-fill-mode: forwards; 
}
  
.workersModal {
width: 70%;
height: 96%;
background: rgb(4, 27, 1);
position: absolute;
font-family: "Pangolin";
left: 20%;
top: 2%;
}
  
/* HuntersModal */

.iconsHuntersModalCommunity{
background: url(../../../images/Orcs/OrcCommunities/Hunters.webp) no-repeat;
background-size: contain;
border: none;
filter: drop-shadow(0 0 0.5vw rgb(84, 230, 55));
cursor: pointer;
height: 30%;
width: 30%;
position: absolute;
top: 12%;
right: -5%;
}
  
.iconsHuntersModalCommunity:hover{
filter: drop-shadow(0 0 1.5vw rgb(84, 230, 55));
opacity: 0.9;
animation: shifting 0.7s infinite;
animation-fill-mode: forwards; 
}
  
.huntersModal {
width: 70%;
height: 96%;
background: rgb(4, 27, 1);
padding: 0;
position: fixed;
left: 20%;
top:2%;
font-family: "Pangolin";
}
    
/* GangsModal */

.iconsGangsModalCommunity{
background: url(../../../images/Orcs/OrcCommunities/Gangs.webp) no-repeat;
background-size: contain;
border: none;
filter: drop-shadow(0 0 0.5vw rgb(190, 4, 4));
cursor: pointer;
height: 30%;
width: 30%;
position: absolute;
bottom: 2%;
right: -5%;
}
  
.iconsGangsModalCommunity:hover{
filter: drop-shadow(0 0 1.5vw rgb(190, 4, 4));
opacity: 0.9;
animation: shifting 0.7s infinite;
animation-fill-mode: forwards; 
}
  
.gangsModal {
width: 70%;
height: 96%;
background: rgb(4, 27, 1);
padding: 0;
position: fixed;
left: 20%;
top:2%;
font-family: "Pangolin";
}
    
@keyframes  shifting {
	0%, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% {
		transform: translateX(0);
		transform: translateX(0);
	}

  10% {
		transform: translateX(5px);
		transform: translateX(5px);
	}

  20% {
		transform: translateX(-5px);
		transform: translateX(-5px);
	}

  30% {
		transform: translateX(5px);
		transform: translateX(5px);
	}

  40% {
		transform: translateX(-5px);
		transform: translateX(-5px);
	}

  50% {
		transform: translateX(5px);
		transform: translateX(5px);
	}

	100% {
		transform: translateX(-5px);
		transform: translateX(-5px);
	}
}

/* OverallContentModal */

.imageHeadCommunities{
width: 14vw;
height: 14vw;
margin: 1vw;
position: absolute;
top: 0;
left: 0;
}
  
.imageMemberCommunities1{
width: 12vw;
height: 12vw;
margin: 1vw;
position: absolute;
top: 32%;
left: 0;
}

.imageMemberCommunities2{
width: 12vw;
height: 12vw;
margin: 1vw;
position: absolute;
top: 60%;
left: 0;
}

.contentModal1 h3 {
position: absolute;
left: 25%;
top: -2%;
font-size: 2vw;
text-align: start;
font-weight: bolder; 
}

.contentModal1 span {
width: 73%;
position: absolute;
left: 25%;
top: 10%;
font-size: 1.7vw;
color: rgb(189, 189, 189);
text-align: start;
}

.contentModal2 h3 {
position: absolute;
left: 22%;
top: 30%;
font-size: 2vw;
text-align: start;
font-weight: bolder; 
}
  
.contentModal2 span {
width: 70%;
position: absolute;
left: 22%;
top: 40%;
font-size: 1.7vw;
color: rgb(189, 189, 189);
text-align: start;
}
 
.contentModal3 h3 {
position: absolute;
left: 22%;
top: 58%;
font-size: 2vw;
text-align: start;
font-weight: bolder; 
}

.contentModal3 span {
width: 70%;
position: absolute;
left: 22%;
top: 68%;
font-size: 1.7vw;
color: rgb(189, 189, 189);
text-align: start;
}
        
.closeModal{
position: absolute;
bottom: 1%;
width: 20vw;
height: 2.7vw;
font-size: 2vw;
border:solid black 0.2vw;
font-family: "Pangolin";
}
  
.closeModal:hover{
opacity: 0.7;
}
  
/* OverallCommunities */

.communities {
position: fixed;
width: 100%;
height: 100%;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 15%;
}

.communitiesLists {
height: 50%;
text-align: center;
justify-content: space-between;
color: rgb(180, 60, 20); 
-webkit-text-stroke: 0.1vw black;
font-size: 3.5vw;
} 

.titleGuardiansOfSpirits{
position: absolute;
top: 5%;
left: 31%;
}

.titleHunters{
position: absolute;
top: 5%;
right: 31%;
}

.titleWorkers{
position: absolute;
bottom: -5%;
left: 31%;
}

.titleGangs{
position: absolute;
bottom: -5%;
right: 31%;
}

.greenTriangleCommuties1{
position: absolute;
left: 0;
top: 9%;
width: 35%;
height: 40%;  
transform: scaleX(-1) scaleY(-1);
}

.greenTriangleCommuties2{
position: absolute;
right: 0;
top: 9%;
width: 35%;
height: 40%;  
transform: scaleY(-1);
}

.greenTriangleCommuties3{
position: absolute; 
bottom: -1%;
left: 0;
width: 35%;
height: 40%;  
transform: scaleX(-1);
}

.greenTriangleCommuties4{
position: absolute;
bottom: -1%;
right: 0;
width: 35%;
height: 40%;  
}

/* -----OrcsPage----- */

.orcsPage{
position: absolute;
width: 100%;
height: 100%;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 14% ;
}

.info{
position: fixed;
top: 10%;
width: 100%;
height: 100%;
}

.infoPage{
position: absolute;
left: 5%;
top: 5%;
display: flex;
background: rgb(4, 27, 1) ;
height: 25%;
width: 30%;
font-family: "Pangolin";
transform: skewX(20deg)
}

.infoPage img {
margin: 5%;
width: 30%;
border-radius: 50%;
border: 0.5vw solid rgb(180, 60, 20);
}

.imgPage{
position: absolute;
margin: 4%;
width: 30%;
transform: skewX(-20deg)
}

.infoTextPage{
position: absolute;
left: 40%;
margin: 4%;
background: rgb(189, 189, 189);
width: 50%;
height: 80%;
color: black;
}
    
.infoTextPage h6{
font-size: 4vw;
margin: 1%;
padding: 0;
transform: skewX(-20deg)
}
   
.infoTextPage p{
font-size: 2vw;
margin: 1% ;
transform: skewX(-20deg)
}

.story{
position: absolute;
right: 2%;
top: 5%;
width: 48%;
height: 70%;
background: rgb(189, 189, 189);
border: solid rgb(4, 27, 1) 2vw;
}
   
.story p {
font-family: "Pangolin";
font-size: 1.8vw;
font-weight: bold;
color: black;
margin: 1%;
padding-top: 2%;
}

.blockLink{
position: absolute;
top: 30%;
left: 5%;
}

.orcsPageButton{
background: rgb(4, 27, 1);
transform: skewX(30deg) ;
font-family: "Rakkas", serif;
font-size: 60%;
width: 110%;
display: block; 
color: black;
-webkit-text-stroke: 0.1px  rgb(180, 60, 20);
}
  
.orcsPageButton h5{
transform: skewX(-30deg);
font-size: 3vw;
}

.orcsPageButton:hover{
opacity: 0.9;
}

/* ----Overall----- */

.buttons{
width: 100%;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 0.3vw;
border-top: solid rgb(180, 60, 20) 0.3vw;
text-align: center;
font-size: 3.5vw;
font-family: "Rakkas";
justify-content: space-between; 
position: absolute;
z-index: 9999;
color: black;
-webkit-text-stroke: 0.1vw  rgb(180, 60, 20);
}
  
/* @@@OrcsPageMedia@@@ */

@media (min-width: 769px) and (max-width: 1024px) {

.info{
position: fixed;
top: 10%;
width: 100%;
height: 100%;
}
    
.infoPage{
position: absolute;
left: 10%;
top: 0;
display: flex;
background: rgb(4, 27, 1) ;
height: 20%;
width: 80%;
font-family: "Pangolin";
transform: skewX(20deg)
}
    
.infoPage img {
margin: 3%;
margin-left: 8%;
width: 25%;
border-radius: 50%;
border: 0.5vw solid rgb(180, 60, 20);
}
    
.imgPage{
position: absolute;
margin: 4%;
width: 30%;
transform: skewX(-20deg)
}
    
.infoTextPage{
position: absolute;
left: 40%;
margin: 4%;
background: rgb(189, 189, 189);
width: 50%;
height: 80%;
color: black;
}
        
.infoTextPage h6{
font-size: 9vw;
margin: 1%;
padding: 0;
transform: skewX(-20deg)
}
       
.infoTextPage p{
font-size: 5vw;
margin: 1% ;
transform: skewX(-20deg)
}
    
.story{
position: absolute;
right: 2%;
top: 52%;
width: 90%;
height: 32%;
background: rgb(189, 189, 189);
border: solid rgb(4, 27, 1) 3vw;
}
       
.story p {
font-family: "Pangolin";
font-size: 2.6vw;
font-weight: bold;
color: black;
}
    
.blockLink{
position: absolute;
top: 23%;
left: 4%;
}
    
.orcsPageButton{
background: rgb(4, 27, 1);
transform: skewX(30deg) ;
font-family: "Rakkas", serif;
width: 160%;
margin-top: -10%;
display: block; 
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1px  black;
}
      
.orcsPageButton h5{
transform: skewX(-30deg);
font-size: 5vw;
}
  
.orcsPage .buttons{
width: 100%;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 0.5vw;
border-top: solid rgb(180, 60, 20) 0.5vw;
text-align: center;
font-size: 7vw;
font-family: "Rakkas";
justify-content: space-between; 
position: absolute;
z-index: 9999;
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1vw black;
}   
}

@media (min-width: 481px) and (max-width: 768px) {

.info{
position: fixed;
top: 10%;
width: 100%;
height: 100%;
}
      
.infoPage{
position: absolute;
left: 10%;
top: 0;
display: flex;
background: rgb(4, 27, 1) ;
height: 20%;
width: 80%;
font-family: "Pangolin";
transform: skewX(20deg)
}
      
.infoPage img {
margin-top: 5%;
margin-left: 8%;
width: 25%;
border-radius: 50%;
border: 1vw solid rgb(180, 60, 20);
}
      
.imgPage{
position: absolute;
margin: 4%;
width: 30%;
transform: skewX(-20deg)
}
      
.infoTextPage{
position: absolute;
left: 40%;
margin: 4%;
background: rgb(189, 189, 189);
width: 50%;
height: 80%;
color: black;
}
          
.infoTextPage h6{
font-size: 10vw;
margin: 1%;
padding: 0;
transform: skewX(-20deg)
}
         
.infoTextPage p{
font-size: 6vw;
margin: 1% ;
transform: skewX(-20deg)
}
      
.story{
position: absolute;
right: 2%;
top: 53%;
width: 90%;
height: 32%;
background: rgb(189, 189, 189);
border: solid rgb(4, 27, 1) 3vw;
}
         
.story p {
font-family: "Pangolin";
font-size: 2.7vw;
font-weight: bold;
color: black;
}
      
.blockLink{
position: absolute;
top: 23%;
left: 4%;
}
      
.orcsPageButton{
background: rgb(4, 27, 1);
transform: skewX(30deg) ;
font-family: "Rakkas", serif;
width: 147%;
margin-top: -10%;
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1px  black;
}
        
.orcsPageButton h5{
transform: skewX(-30deg);
font-size: 5.5vw;
}
    
.orcsPage .buttons{
width: 100%;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 0.7vw;
border-top: solid rgb(180, 60, 20) 0.7vw;
text-align: center;
font-size: 7vw;
font-family: "Rakkas";
justify-content: space-between; 
position: absolute;
z-index: 9999;
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1vw black;
}      
}

@media (max-width: 480px) {

  .info{
  position: fixed;
  top: 10%;
  width: 100%;
  height: 100%;
  }
        
  .infoPage{
  position: absolute;
  left: 10%;
  top: 0;
  display: flex;
  background: rgb(4, 27, 1) ;
  height: 17%;
  width: 80%;
  font-family: "Pangolin";
  transform: skewX(20deg)
  }
        
  .infoPage img {
  margin-left: 10%;
  width: 23%;
  border-radius: 50%;
  border: 1vw solid rgb(180, 60, 20);
  }
        
  .imgPage{
  position: absolute;
  margin: 4%;
  width: 30%;
  transform: skewX(-20deg)
  }
        
  .infoTextPage{
  position: absolute;
  left: 40%;
  margin: 4%;
  background: rgb(189, 189, 189);
  width: 50%;
  height: 80%;
  color: black;
  }
            
  .infoTextPage h6{
  font-size: 10vw;
  margin: 1%;
  padding: 0;
  transform: skewX(-20deg)
  }
           
  .infoTextPage p{
  font-size: 4.3vw;
  margin: 1% ;
  transform: skewX(-20deg)
  }
        
  .story{
  position: absolute;
  right: 2%;
  top: 40%;
  width: 90%;
  height: 45%;
  background: rgb(189, 189, 189);
  border: solid rgb(4, 27, 1) 3vw;
  }
           
  .story p {
  font-family: "Pangolin";
  font-size: 3.4vw;
  font-weight: bold;
  color: black;
  }
        
  .blockLink{
  position: absolute;
  top: 18%;
  left: 5%;
  }
        
  .orcsPageButton{
  background: rgb(4, 27, 1);
  transform: skewX(30deg) ;
  font-family: "Rakkas", serif;
  width: 144%;
  margin-top: -13%;
  display: block; 
  color: rgb(180, 60, 20);
  -webkit-text-stroke: 0.1px  black;
  }
          
  .orcsPageButton h5{
  transform: skewX(-30deg);
  font-size: 5.5vw;
  }
      
  .orcsPage .buttons{
  width: 100%;
  background: rgb(4, 27, 1);
  border-bottom: solid rgb(180, 60, 20) 1vw;
  border-top: solid rgb(180, 60, 20) 1vw;
  text-align: center;
  font-size: 9vw;
  font-family: "Rakkas";
  justify-content: space-between; 
  position: absolute;
  z-index: 9999;
  color: rgb(180, 60, 20);
  -webkit-text-stroke: 0.1vw black;
  }     
}

/* @@@CommunitiesPageMedia@@@ */

@media (max-width: 480px) {

/* SpiritCatchersModal */

.iconsGuardiansOfSpiritsModalCommunity{
  background: url(../../../images/Orcs/OrcCommunities/SpriritCatchers.webp) no-repeat left;
  background-size: contain;
  border: none;
  filter: drop-shadow(0 0 1.5vw rgb(50, 88, 255));
  cursor: pointer;
  height: 40%;
  width: 40%;
  position: absolute;
  top: 7%;
  left: 1%;
  }
   
  .guardiansOfSpiritsModal {
    width: 90%;
    height: 96%;
    background: rgb(4, 27, 1);
    position: absolute;
    font-family: "Pangolin";
    left: 5%;
    top: 2%;
  }
  
  /* WorkersModal */
  
  .iconsWorkersModalCommunity{
  background: url(../../../images/Orcs/OrcCommunities/Workers.webp) no-repeat left;
  background-size: contain;
  border: none;
  filter: drop-shadow(0 0 1.5vw rgb(255, 193, 21));
  cursor: pointer;
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: -2%;
  left: 1%;
  }
       
  .workersModal {
  width: 90%;
  height: 96%;
  background: rgb(4, 27, 1);
  position: absolute;
  font-family: "Pangolin";
  left: 5%;
  top: 2%;
  }
    
  /* HuntersModal */
  
  .iconsHuntersModalCommunity{
  background: url(../../../images/Orcs/OrcCommunities/Hunters.webp) no-repeat right;
  background-size: contain;
  border: none;
  filter: drop-shadow(0 0 1.5vw rgb(84, 230, 55));
  cursor: pointer;
  height: 40%;
  width: 40%;
  position: absolute;
  top: 7%;
  right: 1%;
  }
       
  .huntersModal {
  width: 90%;
  height: 96%;
  background: rgb(4, 27, 1);
  padding: 0;
  position: fixed;
  left: 5%;
  top: 2%;
  font-family: "Pangolin";
  }
      
  /* GangsModal */
  
  .iconsGangsModalCommunity{
  background: url(../../../images/Orcs/OrcCommunities/Gangs.webp) no-repeat right;
  background-size: contain;
  border: none;
  filter: drop-shadow(0 0 1.5vw rgb(190, 4, 4));
  cursor: pointer;
  height: 40%;
  width: 40%;
  position: absolute;
  bottom: -2%;
  right: 1%;
  }
       
  .gangsModal {
  width: 90%;
  height: 96%;
  background: rgb(4, 27, 1);
  padding: 0;
  position: fixed;
  left: 5%;
  top: 2%;
  font-family: "Pangolin";
  }
      
  /* OverallContentModal */
  
  .imageHeadCommunities{
  width: 33vw;
  height: 33vw;
  margin: 1vw;
  position: absolute;
  top:8%;
  left: 0;
  }
    
  .imageMemberCommunities1{
  width: 28vw;
  height: 28vw;
  margin: 2vw;
  position: absolute;
  top: 37%;
  left: 0;
  }
  
  .imageMemberCommunities2{
  width: 28vw;
  height: 28vw;
  margin: 2vw;
  position: absolute;
  top: 65%;
  left: 0;
  }
  
  .contentModal1 h3 {
  width: 100%;
  position: absolute;
  left: 3%;
  top: 0;
  font-size: 4.2vw;
  font-weight: bolder; 
  }
  
  .contentModal1 span {
  width: 59%;
  position: absolute;
  left: 40%;
  top: 9%;
  font-size: 3.2vw;
  color: rgb(189, 189, 189);
  text-align: center;
  }
  
  .contentModal2 h3 {
  width: 100%;
  position: absolute;
  left: 3%;
  top: 30%;
  font-size: 4.2vw;
  font-weight: bolder; 
  }
    
  .contentModal2 span {
  width: 63%;
  position: absolute;
  left: 67%;
  top: 39%;
  transform: translateX(-50%);
  font-size: 3.2vw;
  color: rgb(189, 189, 189);
  text-align: center;
  }
   
  .contentModal3 h3 {
  width: 100%;
  position: absolute;
  left: 3%;
  top: 58%;
  font-size: 4.2vw;
  font-weight: bolder; 
  }
  
  .contentModal3 span {
  width: 63%;
  position: absolute;
  left: 67%;
  top: 67%;
  transform: translateX(-50%);
  font-size: 3.2vw;
  color: rgb(189, 189, 189);
  text-align: center;
  }
          
  .closeModal{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 6vw;
  font-size: 4vw;
  border:solid black 0.2vw;
  font-family: "Pangolin";
  }
    
  .closeModal:hover{
  opacity: 0.7;
  }
    
  /* OverallCommunities */
  
  .communitiesLists {
  height: 50%;
  text-align: center;
  justify-content: space-between;
  color: rgb(180, 60, 20); 
  font-size: 7vw;
  } 
  
  .titleGuardiansOfSpirits{
  width: 30%;
  position: absolute;
  top: 4%;
  left: 6%;
  }
  
  .titleHunters{
  position: absolute;
  top: 4%;
  right: 11%;
  }
  
  .titleWorkers{
  position: absolute;
  bottom: -2%;
  left: 11%;
  }
  
  .titleGangs{
  position: absolute;
  bottom: -2%;
  right: 13%;
  }
  
  .greenTriangleCommuties1{
  position: absolute;
  left: 0;
  top: 5%;
  width: 47%;
  height: 45%;  
  transform: scaleX(-1) scaleY(-1);
  }
  
  .greenTriangleCommuties2{
  position: absolute;
  right: 0;
  top: 5%;
  width: 47%;
  height: 45%;  
  transform: scaleY(-1);
  }
  
  .greenTriangleCommuties3{
  position: absolute; 
  bottom: -2%;
  left: 0;
  width: 47%;
  height: 45%;  
  transform: scaleX(-1);
  }
  
  .greenTriangleCommuties4{
  position: absolute;
  bottom: -2%;
  right: 0;
  width: 47%;
  height: 45%;  
  }

  .communities .buttons{
    width: 100%;
    background: rgb(4, 27, 1);
    border-bottom: solid rgb(180, 60, 20) 1vw;
    border-top: solid rgb(180, 60, 20) 1vw;
    text-align: center;
    font-size: 9vw;
    font-family: "Rakkas";
    justify-content: space-between; 
    position: absolute;
    z-index: 9999;
    color: rgb(180, 60, 20);
    -webkit-text-stroke: 0.1vw black;
    }   
}

@media (min-width: 481px) and (max-width: 768px) {

  .iconsGuardiansOfSpiritsModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/SpriritCatchers.webp) no-repeat left;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(50, 88, 255));
    cursor: pointer;
    height: 35%;
    width: 35%;
    position: absolute;
    top: 15%;
    left: 1%;
    }
     
    .guardiansOfSpiritsModal {
    width: 90%;
    height: 98%;
    background: rgb(4, 27, 1);
    position: absolute;
    font-family: "Pangolin";
    left: 5%;
    top: 1%;
    }
    
    /* WorkersModal */
    
    .iconsWorkersModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/Workers.webp) no-repeat left;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(255, 193, 21));
    cursor: pointer;
    height: 35%;
    width: 35%;
    position: absolute;
    bottom: 7%;
    left: 1%;
    }
         
    .workersModal {
    width: 90%;
    height: 98%;
    background: rgb(4, 27, 1);
    position: absolute;
    font-family: "Pangolin";
    left: 5%;
    top: 1%;
    }
      
    /* HuntersModal */
    
    .iconsHuntersModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/Hunters.webp) no-repeat right;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(84, 230, 55));
    cursor: pointer;
    height: 35%;
    width: 35%;
    position: absolute;
    top: 15%;
    right: 1%;
    }
         
    .huntersModal {
    width: 90%;
    height: 98%;
    background: rgb(4, 27, 1);
    padding: 0;
    position: fixed;
    left: 5%;
    top: 1%;
    font-family: "Pangolin";
    }
        
    /* GangsModal */
    
    .iconsGangsModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/Gangs.webp) no-repeat right;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(190, 4, 4));
    cursor: pointer;
    height: 35%;
    width: 35%;
    position: absolute;
    bottom: 7%;
    right: 1%;
    }
         
    .gangsModal {
    width: 90%;
    height: 98%;
    background: rgb(4, 27, 1);
    padding: 0;
    position: fixed;
    left: 5%;
    top: 1%;
    font-family: "Pangolin";
    }
        
    
    /* OverallContentModal */
    
    .imageHeadCommunities{
      width: 33vw;
      height: 33vw;
      margin: 1vw;
      position: absolute;
      top:8%;
      left: 0;
      }
            
      .imageMemberCommunities1{
      width: 28vw;
      height: 28vw;
      margin: 2vw;
      position: absolute;
      top: 39%;
      left: 0;
      }
            
      .imageMemberCommunities2{
      width: 28vw;
      height: 28vw;
      margin: 2vw;
      position: absolute;
      top: 67%;
      left: 0;
      }
            
      .contentModal1 h3 {
      width: 100%;
      position: absolute;
      left: 3%;
      top: 0;
      font-size: 4.2vw;
      font-weight: bolder; 
      }
            
      .contentModal1 span {
      width: 59%;
      position: absolute;
      left: 40%;
      top: 9%;
      font-size: 3.2vw;
      color: rgb(189, 189, 189);
      text-align: center;
      }
            
      .contentModal2 h3 {
      width: 100%;
      position: absolute;
      left: 3%;
      top: 32%;
      font-size: 4.2vw;
      font-weight: bolder; 
      }
            
      .contentModal2 span {
      width: 63%;
      position: absolute;
      left: 67%;
      top: 41%;
      transform: translateX(-50%);
      font-size: 3.2vw;
      color: rgb(189, 189, 189);
      text-align: center;
      }
             
      .contentModal3 h3 {
      width: 100%;
      position: absolute;
      left: 3%;
      top: 60%;
      font-size: 4.2vw;
      font-weight: bolder; 
      }
            
      .contentModal3 span {
      width: 63%;
      position: absolute;
      left: 67%;
      top: 69%;
      transform: translateX(-50%);
      font-size: 3.2vw;
      color: rgb(189, 189, 189);
      text-align: center;
      }
            
    .closeModal{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 5vw;
    font-size: 3.7vw;
    border:solid black 0.2vw;
    font-family: "Pangolin";
    }
      
    .closeModal:hover{
    opacity: 0.7;
    }
      
    /* OverallCommunities */
    
    .communitiesLists {
    height: 50%;
    text-align: center;
    justify-content: space-between;
    color: rgb(180, 60, 20); 
    font-size: 7vw;
    } 
    
    .titleGuardiansOfSpirits{
    width: 30%;
    position: absolute;
    top: 4%;
    left: 3%;
    }
    
    .titleHunters{
    position: absolute;
    top: 4%;
    right: 9%;
    }
    
    .titleWorkers{
    position: absolute;
    bottom: -2%;
    left: 9%;
    }
    
    .titleGangs{
    position: absolute;
    bottom: -2%;
    right: 11%;
    }
    
    .greenTriangleCommuties1{
    position: absolute;
    left: 0;
    top: 4%;
    width: 47%;
    height: 45%;  
    transform: scaleX(-1) scaleY(-1);
    }
    
    .greenTriangleCommuties2{
    position: absolute;
    right: 0;
    top: 4%;
    width: 47%;
    height: 45%;  
    transform: scaleY(-1);
    }
    
    .greenTriangleCommuties3{
    position: absolute; 
    bottom: -3%;
    left: 0;
    width: 47%;
    height: 45%;  
    transform: scaleX(-1);
    }
    
    .greenTriangleCommuties4{
    position: absolute;
    bottom: -3%;
    right: 0;
    width: 47%;
    height: 45%;  
    }
  
    .communities .buttons{
      width: 100%;
      background: rgb(4, 27, 1);
      border-bottom: solid rgb(180, 60, 20) 0.7vw;
      border-top: solid rgb(180, 60, 20) 0.7vw;
      text-align: center;
      font-size: 7vw;
      font-family: "Rakkas";
      justify-content: space-between; 
      position: absolute;
      z-index: 9999;
      color: rgb(180, 60, 20);
      -webkit-text-stroke: 0.1vw black;
}  
}

@media (min-width: 769px) and (max-width: 1024px ) {
  
  .iconsGuardiansOfSpiritsModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/SpriritCatchers.webp) no-repeat left;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(50, 88, 255));
    cursor: pointer;
    height: 30%;
    width: 30%;
    position: absolute;
    top: 17%;
    left: 5%;
    }
     
    .guardiansOfSpiritsModal {
      width: 90%;
      height: 80%;
      background: rgb(4, 27, 1);
      position: absolute;
      font-family: "Pangolin";
      left: 5%;
      top: 10%;
    }
    
    /* WorkersModal */
    
    .iconsWorkersModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/Workers.webp) no-repeat left;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(255, 193, 21));
    cursor: pointer;
    height: 30%;
    width: 30%;
    position: absolute;
    bottom: 7%;
    left: 5%;
    }
         
    .workersModal {
    width: 90%;
    height: 80%;
    background: rgb(4, 27, 1);
    position: absolute;
    font-family: "Pangolin";
    left: 5%;
    top: 10%;
    }
      
    /* HuntersModal */
    
    .iconsHuntersModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/Hunters.webp) no-repeat right;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(84, 230, 55));
    cursor: pointer;
    height: 30%;
    width: 30%;
    position: absolute;
    top: 17%;
    right: 5%;
    }
         
    .huntersModal {
    width: 90%;
    height: 80%;
    background: rgb(4, 27, 1);
    padding: 0;
    position: fixed;
    left: 5%;
    top: 10%;
    font-family: "Pangolin";
    }
        
    /* GangsModal */
    
    .iconsGangsModalCommunity{
    background: url(../../../images/Orcs/OrcCommunities/Gangs.webp) no-repeat right;
    background-size: contain;
    border: none;
    filter: drop-shadow(0 0 1.5vw rgb(190, 4, 4));
    cursor: pointer;
    height: 30%;
    width: 30%;
    position: absolute;
    bottom: 7%;
    right: 5%;
    }
         
    .gangsModal {
    width: 90%;
    height: 80%;
    background: rgb(4, 27, 1);
    padding: 0;
    position: fixed;
    left: 5%;
    top: 10%;
    font-family: "Pangolin";
    }
    
    /* OverallContentModal */
    
    .imageHeadCommunities{
    width: 35vw;
    height: 35vw;
    margin: 1vw;
    position: absolute;
    top: 0;
    left: 0;
    }
      
    .imageMemberCommunities1{
    width: 26vw;
    height: 26vw;
    margin: 1vw;
    position: absolute;
    top: 35%;
    left: 0;
    }
    
    .imageMemberCommunities2{
      width: 26vw;
      height: 26vw;
      margin: 1vw;
      position: absolute;
      top: 62%;
      left: 0;
    }
    
    .contentModal1 h3 {
    width: 60%;
    position: absolute;
    left: 40%;
    top: 0;
    font-size:  2.9vw;
    text-align: center;
    font-weight: bolder; 
    }
    
    .contentModal1 span {
    width: 55%;
    position: absolute;
    left: 42%;
    top: 7%;
    font-size: 2.7vw;
    color: rgb(189, 189, 189);
    text-align: center;
    }
    
    .contentModal2 h3 {
    width: 60%;
    position: absolute;
    left: 35%;
    top: 34%;
    font-size: 2.9vw;
    text-align: center;
    font-weight: bolder; 
    }
      
    .contentModal2 span {
    width: 67%;
    position: absolute;
    left: 32%;
    top: 41%;
    font-size: 2.7vw;
    color: rgb(189, 189, 189);
    text-align: center;
    }
     
    .contentModal3 h3 {
    width: 60%;
    position: absolute;
    left: 35%;
    top: 61%;
    font-size:  2.9vw;
    text-align: center;
    font-weight: bolder; 
    }
    
    .contentModal3 span {
    width: 67%;
    position: absolute;
    left: 32%;
    top: 68%;
    font-size: 2.7vw;
    color: rgb(189, 189, 189);
    text-align: center;
    }
            
    .closeModal{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 8vw;
    font-size: 4vw;
    border:solid black 0.2vw;
    font-family: "Pangolin";
    }
      
    .closeModal:hover{
    opacity: 0.7;
    }
      
    /* OverallCommunities */
    
    .communitiesLists {
    height: 50%;
    text-align: center;
    justify-content: space-between;
    color: rgb(180, 60, 20); 
    font-size: 6vw;
    } 
    
    .titleGuardiansOfSpirits{
    width: 30%;
    position: absolute;
    top: 4%;
    left: 5%;
    }
    
    .titleHunters{
    position: absolute;
    top: 4%;
    right: 12%;
    }
    
    .titleWorkers{
    position: absolute;
    bottom: -2%;
    left: 11%;
    }
    
    .titleGangs{
    position: absolute;
    bottom: -2%;
    right: 13%;
    }
    
    .greenTriangleCommuties1{
    position: absolute;
    left: 0;
    top: 5%;
    width: 47%;
    height: 45%;  
    transform: scaleX(-1) scaleY(-1);
    }
    
    .greenTriangleCommuties2{
    position: absolute;
    right: 0;
    top: 5%;
    width: 47%;
    height: 45%;  
    transform: scaleY(-1);
    }
    
    .greenTriangleCommuties3{
    position: absolute; 
    bottom: -2%;
    left: 0;
    width: 47%;
    height: 45%;  
    transform: scaleX(-1);
    }
    
    .greenTriangleCommuties4{
    position: absolute;
    bottom: -2%;
    right: 0;
    width: 47%;
    height: 45%;  
    }
  
    .communities .buttons{
      width: 100%;
      background: rgb(4, 27, 1);
      border-bottom: solid rgb(180, 60, 20) 0.5vw;
      border-top: solid rgb(180, 60, 20) 0.5vw;
      text-align: center;
      font-size: 7vw;
      font-family: "Rakkas";
      justify-content: space-between; 
      position: absolute;
      z-index: 9999;
      color: rgb(180, 60, 20);
      -webkit-text-stroke: 0.1vw black;
}  
}

/* @@@HistoryOrcsMedia@@@ */

@media (max-width: 480px) {

/* -----Accordion----- */

.historyOrcs{
position: absolute;
width: 100%;
height: 290vw;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 1vw;
}
  
.accordion {
position: relative;
width: 100%;
list-style: none;
margin: 0;
padding: 0;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 17%;
background-color: grey;
border-top: 0.3vw solid rgb(180, 60, 20);
border-bottom: 0.3vw solid rgb(180, 60, 20);
}
  
.accordionItemTitle {
width: 100%;
margin: 0;
}
  
.accordionItemBtn {
position: relative;
align-items: center;
width: 100%;
height: 10vw;
background:	rgb(4, 27, 1);
border-top: solid 0.3vw rgb(180, 60, 20);
border-bottom: solid 0.3vw rgb(180, 60, 20);
padding: 1vw 2vw;
font-size: 6vw;
cursor: pointer;
user-select: none;
color: rgb(180, 60, 20);
font-family: "Pangolin";
}
  
.accordionItemContainer {
transition: height 0.5s ease-in-out;
overflow: hidden;
position: relative;
}
  
/* -----History----- */
  
.imageHistory {
width: 100%;
background: url(../../../images/Orcs/HistoryBlackForest/BlackForest.jpg) no-repeat;
background-size: 100%;
position: absolute;
top: 4%;
}
  
.titleHistory{
display: flex;
font-family: "Rakkas", serif;
color:  black;
align-items: center;
justify-content: center;
-webkit-text-stroke: rgb(180, 60, 20) 0.1vw;
font-size: 5.5vw;
width: 100%;
height: 50%;
}
  
.titleHistory h1{
width: 100%;
text-align: center;
}
  
.banner{
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
width: 100vw;
height: 110vw;
filter: drop-shadow(0 0 0vw rgb(4, 27, 1));
background: rgb(4, 27, 1);
margin: 0;
}
  
.accordionItemContent{
position: absolute;
height: 100vw;
width: 100vw;
}
  
.pictures{
display: flex;
justify-content: space-between;
}
  
.awaking{
width: 45vw;
height: 45vw;
position: absolute;
top: -3%;
left: -3;
}
  
.exodus{
width: 45vw;
height: 45vw;
position: absolute;
top: -3%;
right: -3%;
}
  
.contentScroll{
width: 94%;
height: 80%;
position: absolute;
top: 60%;
left: 50%;
transform: translateX(-50%);
background: rgb(189, 189, 189);
filter: drop-shadow( 0 0 0vw rgb(4, 27, 1));
border: solid rgb(4, 27, 1) 4vw;
font-family: "Pangolin";
font-size: 3vw;
color: rgb(15, 24, 9);
}
  
.contentScroll h2 {
width: 100%;
position: absolute;
left: 50%;
top: 0%;
transform: translateX(-50%);
}
  
.contentScroll p{
font-size: 2.8vw;
position: absolute;
left: 50%;
top: 15%;
width: 96%;
transform: translateX(-50%);
}
  
.pictureLeft{
width: 48%;
margin: 0;
padding: 0;
position: absolute;
left: -1%;
top: -1%;
}
  
.pictureRight{
width: 48%;
margin: 0;
padding: 0;
position: absolute;
right: -1%;
top: -1%;
}

.historyOrcs .buttons{
width: 100%;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 1vw;
border-top: solid rgb(180, 60, 20) 1vw;
text-align: center;
font-size: 9vw;
font-family: "Rakkas";
justify-content: space-between; 
position: absolute;
z-index: 9999;
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1vw black;
}

}

@media (min-width: 481px) and (max-width: 768px) {

/* -----Accordion----- */
  
.historyOrcs{
position: absolute;
width: 100%;
height: 290vw;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 1vw;
}

.accordion {
position: relative;
width: 100%;
list-style: none;
margin: 0;
padding: 0;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 17%;
background-color: grey;
border-top: 0.3vw solid rgb(180, 60, 20);
border-bottom: 0.3vw solid rgb(180, 60, 20);
}
    
.accordionItemTitle {
width: 100%;
margin: 0;
}
    
.accordionItemBtn {
position: relative;
align-items: center;
width: 100%;
height: 10vw;
background:	rgb(4, 27, 1);
border-top: solid 0.3vw rgb(180, 60, 20);
border-bottom: solid 0.3vw rgb(180, 60, 20);
padding: 1vw 2vw;
font-size: 6vw;
cursor: pointer;
user-select: none;
color: rgb(180, 60, 20);
font-family: "Pangolin";
}
    
.accordionItemContainer {
transition: height 0.5s ease-in-out;
overflow: hidden;
position: relative;
}
    
/* -----History----- */
    
.imageHistory {
width: 100%;
background: url(../../../images/Orcs/HistoryBlackForest/BlackForest.jpg) no-repeat;
background-size: 100%;
position: absolute;
top: 4%;
}
    
.titleHistory{
display: flex;
font-family: "Rakkas", serif;
color:  black;
align-items: center;
justify-content: center;
-webkit-text-stroke: rgb(180, 60, 20) 0.1vw;
font-size: 5.5vw;
width: 100%;
height: 50%;
}
    
.titleHistory h1{
width: 100%;
text-align: center;
}
    
.banner{
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
width: 100vw;
height: 110vw;
filter: drop-shadow(0 0 0vw rgb(4, 27, 1));
background: rgb(4, 27, 1);
margin: 0;
}
    
.accordionItemContent{
position: absolute;
height: 100vw;
width: 100vw;
}
    
.pictures{
display: flex;
justify-content: space-between;
}
    
.awaking{
width: 45vw;
height: 45vw;
position: absolute;
top: -3%;
left: -3;
}
    
.exodus{
width: 45vw;
height: 45vw;
position: absolute;
top: -3%;
right: -3%;
}
    
.contentScroll{
width: 94%;
height: 80%;
position: absolute;
top: 60%;
left: 50%;
transform: translateX(-50%);
filter: drop-shadow( 0 0 0vw rgb(4, 27, 1));
background: rgb(189, 189, 189);
border: solid rgb(4, 27, 1) 4vw;
font-family: "Pangolin";
font-size: 3vw;
color: rgb(15, 24, 9);
}
    
.contentScroll h2 {
width: 100%;
position: absolute;
left: 50%;
top: 0%;
transform: translateX(-50%);
}
    
.contentScroll p{
font-size: 2.8vw;
position: absolute;
left: 50%;
top: 15%;
width: 96%;
transform: translateX(-50%);
}
    
.pictureLeft{
width: 48%;
margin: 0;
padding: 0;
position: absolute;
left: -1%;
top: -1%;
}
    
.pictureRight{
width: 48%;
margin: 0;
padding: 0;
position: absolute;
right: -1%;
top: -1%;
}

.historyOrcs .buttons{
width: 100%;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 0.7vw;
border-top: solid rgb(180, 60, 20) 0.7vw;
text-align: center;
font-size: 7vw;
font-family: "Rakkas";
justify-content: space-between; 
position: absolute;
z-index: 9999;
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1vw black;
}
}

@media (min-width: 769px) and (max-width: 1024px) {

/* -----Accordion----- */

.historyOrcs{
position: absolute;
width: 100%;
height: 290vw;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 1vw;
}
      
.accordion {
position: relative;
width: 100%;
list-style: none;
margin: 0;
padding: 0;
background: url(../../../images/Orcs/OrcsPage/Leaf.webp) repeat;
background-size: contain;
background-size: 17%;
background-color: grey;
border-top: 0.3vw solid rgb(180, 60, 20);
border-bottom: 0.3vw solid rgb(180, 60, 20);
}
      
.accordionItemTitle {
width: 100%;
margin: 0;
}
      
.accordionItemBtn {
position: relative;
align-items: center;
width: 100%;
height: 10vw;
background:	rgb(4, 27, 1);
border-top: solid 0.3vw rgb(180, 60, 20);
border-bottom: solid 0.3vw rgb(180, 60, 20);
padding: 1vw 2vw;
font-size: 6vw;
cursor: pointer;
user-select: none;
color: rgb(180, 60, 20);
font-family: "Pangolin";
}
      
.accordionItemContainer {
transition: height 0.5s ease-in-out;
overflow: hidden;
position: relative;
}
      
/* -----History----- */
      
.imageHistory {
width: 100%;
background: url(../../../images/Orcs/HistoryBlackForest/BlackForest.jpg) no-repeat;
background-size: 100%;
position: absolute;
top: 4%;
}
      
.titleHistory{
display: flex;
font-family: "Rakkas", serif;
color:  black;
align-items: center;
justify-content: center;
-webkit-text-stroke: rgb(180, 60, 20) 0.1vw;
font-size: 5.5vw;
width: 100%;
height: 50%;
}
      
.titleHistory h1{
width: 100%;
text-align: center;
}
      
.banner{
position: absolute;
top: 100%;
left: 50%;
transform: translateX(-50%);
width: 100vw;
height: 110vw;
filter: drop-shadow(0 0 0vw rgb(4, 27, 1));
background: rgb(4, 27, 1);
margin: 0;
}
      
.accordionItemContent{
position: absolute;
height: 100vw;
width: 100vw;
}
      
.pictures{
display: flex;
justify-content: space-between;
}
      
.awaking{
width: 45vw;
height: 45vw;
position: absolute;
top: -3%;
left: -3;
}
      
.exodus{
width: 45vw;
height: 45vw;
position: absolute;
top: -3%;
right: -3%;
}
      
.contentScroll{
width: 94%;
height: 124%;
position: absolute;
top: 60%;
left: 50%;
transform: translateX(-50%);
filter: drop-shadow( 0 0 0vw rgb(4, 27, 1));
background: rgb(189, 189, 189);
border: solid rgb(4, 27, 1) 4vw;
font-family: "Pangolin";
font-size: 3vw;
color: rgb(15, 24, 9);
}
      
.contentScroll h2 {
width: 100%;
position: absolute;
left: 50%;
top: 0%;
transform: translateX(-50%);
}
      
.contentScroll p{
font-size: 2.8vw;
position: absolute;
left: 50%;
top: 15%;
width: 96%;
transform: translateX(-50%);
}
      
.pictureLeft{
width: 48%;
margin: 0;
padding: 0;
position: absolute;
left: -1%;
top: -1%;
}
      
.pictureRight{
width: 48%;
margin: 0;
padding: 0;
position: absolute;
right: -1%;
top: -1%;
}

.historyOrcs .buttons{
width: 100%;
background: rgb(4, 27, 1);
border-bottom: solid rgb(180, 60, 20) 0.5vw;
border-top: solid rgb(180, 60, 20) 0.5vw;
text-align: center;
font-size: 7vw;
font-family: "Rakkas";
justify-content: space-between; 
position: absolute;
z-index: 9999;
color: rgb(180, 60, 20);
-webkit-text-stroke: 0.1vw black;
}
}

