@import url('https://fonts.googleapis.com/css2?family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Pangolin&display=swap');

/* -----Accordion----- */

.accordion {
  list-style: none;
  margin: 0;
  padding: 0;
  background: no-repeat url(../../../images/Orcs/HistoryBlackForest/GreenSkin.jpg);
  background-size: 1500px;
  background-size: 1700px;
}

.accordionItem {
  border: 1px solid #ccc;
}

.accordionItem:not(:first-of-type) {
  border-top: 0;
}

.accordionItemTitle {
  width: 100%;
  margin: 0;
}

.accordionItemBtn {
  display: flex;
  align-items: center;
  width: 100%;
  background:	rgb(4, 27, 1);
  background-size:cover;
  border: solid 2px 	rgb(168, 165, 155);
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  color: rgb(168, 165, 155) ;
  font-family: "Pangolin";
  
}

.accordionItemBtn::after {
  content: '';
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: 18px;
  transition: transform 0.2s ease-in-out;
}

.accordionItem.active .accordionItemBtn::after {
  transform: rotate(-180deg);
}

.accordionItemContainer {
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}

.accordionItemContent {
  border-top: 1px solid #cccccc;
  padding: 15px 20px;
}

/* -----History----- */

.bodyHistory {
background: url(../../../images/Orcs/HistoryBlackForest/BlackForest.jpg);
background-size: 1400px;
}

.titleHistory{
  display: flex;
  font-family: "Rakkas", serif;
  color: red;
  align-items: center;
  margin-left: 50px;
}

.titleHistory h1{
  width: 700px;
  text-align: center;
  margin-top: 0;
}

.banner{
  width: 280px;
  height: 348px;
  background-size: cover;
  filter: drop-shadow(1px 1px 10px rgb(17, 83, 4) );
  margin-top: 50px;
  margin-bottom: 50px;
}

.pictures{
  display: flex;
}

.awakingAndExodus{
  border-radius: 30px;
  box-shadow: 0 0 10px 10px black;
  margin: 50px 50px 0px 100px;
  width: 500px;
  height: 500px;
}

.contentScroll{
  background: url(../../../images/Orcs/HistoryBlackForest/Scroll.webp) no-repeat;
  background-size: 60%;
  background-position: center;
  text-align: center;
  filter: drop-shadow( 0px 0px 20px black);
  font-size: 45%;
  padding-left: 450px;
  padding-right: 450px;
  height: 1300px;
  color: rgb(15, 24, 9);
}

.contentScroll h2 {
  padding-top: 310px;
  margin-bottom: 0px;
}

.contentScroll p{
  font-family: "Pangolin";
  margin-top: 0px;
}

.picture{
  border-radius: 30px;
  box-shadow: 0 0 10px 10px black;
  margin: 50px 25px 50px 75px;
  width: 550px;
}

/* -----OrganizationsPage----- */

.orcsTable{
font-size: 2rem;
margin: 50px ;
margin-top: 0;
background:  url(../../../images/Orcs/OrcCommunities/YellowBlack.jpg);
background-size: cover;
}

.table tbody{
font-size: 1.5rem;  
background-size: cover;
}

.orcsTable tr th {
color: dodgerblue;
}

.orcsTable tr td:nth-child(1){
color: khaki;
}

.orcsTable tr td:nth-child(2){
color: cyan;
}

.orcsTable tr td:nth-child(3){
color: coral;
}

.orcsTable tr td:nth-child(4) {
color: greenyellow;
}

.orcsTable tr td {
padding-left:  10px;
padding-right: 25px;
padding-bottom: 10px;
}

/* SpiritCatchersModal */

.iconsSpiritCatchersModalCommunity{
background: url(../../../images/Orcs/OrcCommunities/SpriritCatchers.webp);
background-size: cover;
border: none;
filter: drop-shadow(0px 0px 20px rgb(50, 88, 255));
cursor: pointer;
height: 400px;
width: 400px;
}

.iconsSpiritCatchersModalCommunity:hover{
opacity: 0.7;
}

.spiritCatchersModal {
width: 1000px;
height: 700px;
background: url(../../../images/Orcs/OrcCommunities/YellowBlack.jpg);
background-size: cover;
padding: 0;
margin: 10px 50px 10px 320px;
font-size: 2rem;
}

.spiritCatchersModal img{
border-style:solid;
border-color: rgb(50, 88, 255);
display: block;
}

.spiritCatchersModal span {
font-size: 1.9rem;
margin: 10px 0 0 0;
font-family: "Pangolin";
color: rgb(50, 88, 255);
}

.buttonCloseSpiritCatchersModal{
margin: 10px 10px 10px 300px;
width: 400px;
height: 40px;
font-size: 2rem;
border-style: solid;
border-color:black;
background:rgb(50, 88, 255);
font-family: "Pangolin";
}

.buttonCloseSpiritCatchersModal:hover{
opacity: 0.7;
}

/* WorkersModal */

.iconsWorkersModalCommunity{
  background: url(../../../images/Orcs/OrcCommunities/Workers.webp);
  background-size:cover;
  border: none;
  filter: drop-shadow(0px 0px 20px  rgb(255, 193, 21));
  cursor: pointer;
  height: 400px;
  width: 400px;
  }
  
  .iconsWorkersModalCommunity:hover{
  opacity: 0.7;
  }
  
  .workersModal {
  width: 1000px;
  height: 700px;
  background: url(../../../images/Orcs/OrcCommunities/YellowBlack.jpg);
  background-size: cover;
  padding: 0;
  margin: 10px 50px 10px 320px;
  font-size: 2rem;
  }
  
  .workersModal img{
  border-style:solid;
  border-color: rgb(255, 193, 21);
  display: block;
  }
  
  .workersModal span {
  font-size: 1.9rem;
  margin: 10px 0 0 0;
  font-family: "Pangolin";
  color:  rgb(255, 193, 21);
  }
  
  .buttonCloseWorkersModal{
  margin: 10px 10px 10px 300px;
  width: 400px;
  height: 40px;
  font-size: 2rem;
  border-style: solid;
  border-color:black;
  background: rgb(255, 193, 21);
  font-family: "Pangolin";
  }
  
  .buttonCloseWorkersModal:hover{
  opacity: 0.7;
  }

/* HuntersModal */

.iconsHuntersModalCommunity{
  background: url(../../../images/Orcs/OrcCommunities/Hunters.webp);
  background-size:cover;
  border: none;
  filter: drop-shadow(0px 0px 20px rgb(84, 230, 55));
  cursor: pointer;
  height: 400px;
  width: 400px;
  
  }
  
  .iconsHuntersModalCommunity:hover{
  opacity: 0.7;
  }
  
  .huntersModal {
  width: 1000px;
  height: 700px;
  background: url(../../../images/Orcs/OrcCommunities/YellowBlack.jpg);
  background-size: cover;
  padding: 0;
  margin: 10px 50px 10px 320px;
  font-size: 2rem;
  }
  
  .huntersModal img{
  border-style:solid;
  border-color: rgb(84, 230, 55);
  display: block;
  }
  
  .huntersModal span {
  font-size: 1.9rem;
  margin: 10px 0 0 0;
  font-family: "Pangolin";
  color: rgb(84, 230, 55);
  }
  
  .buttonCloseHuntersModal{
  margin: 10px 10px 10px 300px;
  width: 400px;
  height: 40px;
  font-size: 2rem;
  border-style: solid;
  border-color:black;
  background:rgb(84, 230, 55);
  font-family: "Pangolin";
  }
  
  .buttonCloseHuntersModal:hover{
  opacity: 0.7;
  }

/* GangsModal */

.iconsGangsModalCommunity{
background: url(../../../images/Orcs/OrcCommunities/Gangs.webp);
background-size:cover;
border: none;
filter: drop-shadow(0px 0px 20px rgb(190, 4, 4));
cursor: pointer;
height: 400px;
width: 400px;
}
  
.iconsGangsModalCommunity:hover{
opacity: 0.7;
}
  
.gangsModal {
width: 1000px;
height: 700px;
background: url(../../../images/Orcs/OrcCommunities/YellowBlack.jpg);
background-size: cover;
padding: 0;
margin: 10px 50px 10px 320px;
font-size: 2rem;
}
  
.gangsModal img{
border-style:solid;
border-color: rgb(190, 4, 4);
display: block;
}
  
.gangsModal span {
font-size: 1.9rem;
margin: 10px 0 0 0;
font-family: "Pangolin";
color: rgb(190, 4, 4);
}
  
.buttonCloseGangsModal{
margin: 10px 10px 10px 300px;
width: 400px;
height: 40px;
font-size: 2rem;
border-style: solid;
border-color:black;
background:rgb(190, 4, 4);
font-family: "Pangolin";
}
  
.buttonCloseGangsModal:hover{
opacity: 0.7;
}

/* obshie img */

.imageHeadCommunities{
  width: 230px;
  height: 230px;
  margin: 10px 50px 0px 10px;
}
  
.imageMemberCommunities{
  width: 180px;
  height: 180px;
  margin: 10px 50px 0px 10px;
}
  
.contentModal{
  display: flex;
}

/* Button Modal  */

.communities {
background-color: rgb(50, 63, 50);
}

.communities h1{
  text-align: center;
  margin-top: 0;
}

.communities h2{
  margin-bottom: 150px;
  margin-top: -10px;
}

.communitiesLists {
display: flex;
text-align: center;
color: darkblue;
} 

.communityBlock {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -----OrcsPage----- */

.info{
  display: flex;
}

.blockPage{
  display: block;
}

 .imgPage{
  margin: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: rgb(4, 27, 1) 5px solid;
  }
    
  .infoPage{
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 10px rgb(4, 27, 1);
  margin: 20px ;
  background: url(../../../images/Orcs/OrcsPage/Tree.jpg);
  background-size: cover;
  height: 250px;
  width: 800px;
  }
  
  .infoTextPage{
  margin: 20px;
  background: rgb(221, 221, 221);
  background-size: cover;
  height: 200px;
  border:rgb(4, 27, 1) 5px solid;
  border-radius: 12px;
  color: rgb(4, 27, 1);
  width: 500px;
  }
    
  .infoTextPage h4{
  margin: 10px 10px 0px 10px;
  }
   
  .infoTextPage p{
  font-size: 30px;
  margin: 0px 10px 0px 10px ;
  }

  .story{
    margin: 20px;
    width: 500px;
    height: 650px;
    background: url(../../../images/Orcs/OrcsPage/Tree.jpg);
    background-size: cover;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 10px rgb(4, 27, 1);
    display: block;
  }
  
  .storyText{
    font-size: 30px;
    background: rgb(221, 221, 221);
    background-size: cover;
    width: 450px;
    height: 600px;
    margin: 20px;
    border:rgb(4, 27, 1) 5px solid;
    border-radius: 12px;
    color: rgb(4, 27, 1);
  }
  
  .storyText p{
    margin: 20px;
  }

  .historyButton{ 
    background: url(../../../images/Orcs/OrcsPage/OrcForest.jpg);
    background-size: cover;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 10px 10px  rgb(4, 27, 1);
    font-size: 55px;
    font-family: "Rakkas", serif;
    font-weight: 400;
    width: 800px;
    height: 30px;
    display: block;
    height: 100%;  
    margin: 50px 20px ;
    text-align: center;
    color: red;
  }
  
  .historyButton:hover{
    opacity: 0.7;
  }
  
